@charset "utf-8";

html,
html.full_layout {
	background-color: #EEE;
}
html.full_layout {
	background-image: url('layout/bodybg_light.jpg');
}

body {
	background: transparent;
	color: #222;
}

h1, h2 {
	color: #2C7FD2;
	text-shadow: 1px 1px 1px #FFF;
}

a {
	color: #2C7FD2;
}
a:hover {
	color: #5699DC;
}
hr {
	border-top: 1px solid #666;
	border-bottom: 1px solid #DDD;
}
code {
	color: #DDD;
	background: #0E2B47;
	border: 1px solid #15416C;
}

fieldset legend {
	color: #444;
	border: 0;
}

form span.help-block, 
form span.help-inline {
	font-size: 12px;
	color: #777;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #DDD;
	background-color: rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover td {
	background-color: #EEE;
	background-color: rgba(0, 0, 0, 0.2);
}
.table th, .table td {
	border-top: 0;
}

/**
 * Main Body
 */

div#body {
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;

	background: #EFEFEF url('layout/honey_im_subtle_light.png') top left repeat;

	/*
	background: rgb(255, 255, 255) transparent;
	background: rgba(255, 255, 255, 0.85);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
	*/
	
	border: 0;

	-webkit-box-shadow:0 0 15px #000;
	-moz-box-shadow: 0 0 15px #000;
	box-shadow:0 0 15px #000;
}

#about_pvl {
  color: #555;
}

div#content_top_wrapper {
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
}

div#copyright {
	color: #777;
}

.well {
	padding: 10px;
}

.station h4 {
	border-color: #CCC;
}
.station img {
	border: 1px solid #163D63;
}
.station.live img {
	border: 1px solid #428BD5;	
}
.station.playing img {
	border: 1px solid #5699DC;
}
.station.offline,
.station.offline h4 small {
	color: #444;
}
.station.live,
.station.live h4 small {
	color: #2C7FD2;
}
.station.playing,
.station.playing h4 small {
	color: #5699DC;	
}

@media (max-width: 767px) {
	body {
		background: #EFEFEF url('layout/honey_im_subtle_light.png') top left repeat;
	}
}