openapi: 3.0.0
info:
  title: AzuraCast
  description: 'AzuraCast is a standalone, turnkey web radio management tool. Radio stations hosted by AzuraCast expose a public API for viewing now playing data, making requests and more.'
  license:
    name: 'GNU Affero General Public License v3.0 or later'
    url: 'https://www.gnu.org/licenses/agpl-3.0.txt'
  version: 0.23.2
servers:
  -
    url: 'https://demo.azuracast.com/api'
    description: 'AzuraCast Public Demo Server'
paths:
  '/admin/acme-log/{path}':
    get:
      tags:
        - 'Administration: General'
      summary: 'View the logs of a manually run ACME certificate renewal.'
      operationId: adminAcmeViewLog
      parameters:
        -
          name: path
          in: path
          description: 'Log path as returned by the Run action.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_LogContents'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/acme:
    put:
      tags:
        - 'Administration: General'
      summary: 'Generate or renew ACME certificate.'
      operationId: putAdminGenerateAcmeCert
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_TaskWithLog'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/api-keys:
    get:
      tags:
        - 'Administration: General'
      summary: 'List all current API keys across the system.'
      operationId: adminListApiKeys
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/ApiKey' }, { $ref: '#/components/schemas/HasLinks' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/api-key/{id}':
    delete:
      tags:
        - 'Administration: General'
      summary: 'Delete a single API key.'
      operationId: adminDeleteApiKey
      parameters:
        -
          name: id
          in: path
          description: 'API Key ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/auditlog:
    get:
      tags:
        - 'Administration: General'
      summary: 'List all Audit Log actions that have taken place on the installation.'
      operationId: getAuditlog
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/backups/delete/{path}':
    delete:
      tags:
        - 'Administration: Backups'
      summary: 'Delete a given backup.'
      operationId: deleteBackup
      parameters:
        -
          name: path
          in: path
          description: 'Download path (base64-encoded "StorageLocationID | Path")'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/backups/download/{path}':
    get:
      tags:
        - 'Administration: Backups'
      summary: 'Download a given backup.'
      operationId: downloadBackup
      parameters:
        -
          name: path
          in: path
          description: 'Download path (base64-encoded "StorageLocationID | Path")'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithDownload'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/backups:
    get:
      tags:
        - 'Administration: Backups'
      summary: 'Return a list of all current backups.'
      operationId: getBackups
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Backup'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/backups/log/{path}':
    get:
      tags:
        - 'Administration: Backups'
      summary: 'View a specific backup log contents.'
      operationId: adminBackupsViewLog
      parameters:
        -
          name: path
          in: path
          description: 'Log path as returned by the Run action.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_LogContents'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/backups/run:
    post:
      tags:
        - 'Administration: Backups'
      summary: 'Initialize a manual backup.'
      operationId: postAdminDoBackup
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_TaskWithLog'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/custom_assets/{type}':
    get:
      tags:
        - 'Administration: General'
      summary: 'Get the details of the custom asset of the specified type.'
      operationId: getAdminCustomAsset
      parameters:
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_UploadedRecordStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: General'
      summary: 'Upload a new custom asset of the specified type.'
      operationId: postAdminCustomAsset
      parameters:
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: General'
      summary: 'Removes the custom asset of the specified type.'
      operationId: deleteAdminCustomAsset
      parameters:
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/custom_fields:
    get:
      tags:
        - 'Administration: Custom Fields'
      summary: 'List all current custom fields in the system.'
      operationId: getCustomFields
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/CustomField' }, { $ref: '#/components/schemas/HasLinks' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Custom Fields'
      summary: 'Create a new custom field.'
      operationId: addCustomField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/CustomField' }
                  - { $ref: '#/components/schemas/HasLinks' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/custom_field/{id}':
    get:
      tags:
        - 'Administration: Custom Fields'
      summary: 'Retrieve details for a single custom field.'
      operationId: getCustomField
      parameters:
        -
          name: id
          in: path
          description: 'Custom Field ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/CustomField' }
                  - { $ref: '#/components/schemas/HasLinks' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Custom Fields'
      summary: 'Update details of a single custom field.'
      operationId: editCustomField
      parameters:
        -
          name: id
          in: path
          description: 'Custom Field ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Custom Fields'
      summary: 'Delete a single custom field.'
      operationId: deleteCustomField
      parameters:
        -
          name: id
          in: path
          description: 'Custom Field ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/debug/clear-cache:
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Clear the application cache (Redis).'
      operationId: adminDebugClearCache
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/clear-queue/{queue}':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Clear the specified message queue.'
      operationId: adminDebugClearQueue
      parameters:
        -
          name: queue
          in: path
          description: 'Message queue type.'
          required: true
          schema:
            type: string
            enum:
              - high_priority
              - normal_priority
              - low_priority
              - search_index
              - media
              - podcast_media
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/station/{station_id}/clearqueue':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Clear the upcoming song queue and generate a new one.'
      operationId: adminDebugClearStationQueue
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Debug_LogResult'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/debug/queues:
    get:
      tags:
        - 'Administration: Debugging'
      summary: 'List all message queues.'
      operationId: getAdminDebugQueues
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Debug_Queue'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/debug/stations:
    get:
      tags:
        - 'Administration: Debugging'
      summary: 'List all stations with their debug links.'
      operationId: getAdminDebugStations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Debug_Station'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/debug/sync-tasks:
    get:
      tags:
        - 'Administration: Debugging'
      summary: 'List all sync tasks and details about their run times.'
      operationId: getAdminDebugSyncTasks
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Debug_SyncTask'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/station/{station_id}/nextsong':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Get the next song to be played by the AutoDJ for a given station.'
      operationId: adminDebugStationNextSong
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Debug_LogResult'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/station/{station_id}/nowplaying':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Generate the raw Now Playing data for a given station.'
      operationId: adminDebugStationNowPlaying
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Debug_LogResult'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/sync/{task}':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Manually run a scheduled synchronized task by name.'
      operationId: adminDebugRunSyncTask
      parameters:
        -
          name: task
          in: path
          description: 'Synchronized task (either class name or "all").'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Debug_LogResult'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/debug/station/{station_id}/telnet':
    put:
      tags:
        - 'Administration: Debugging'
      summary: 'Manually run a Telnet command on a station backend.'
      operationId: putAdminDebugTelnetCommand
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Debug_LogResult'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/geolite:
    get:
      tags:
        - 'Administration: General'
      summary: 'Get the current MaxMindDB GeoLite Database status.'
      operationId: getGeoLite
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_GeoLiteStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: General'
      summary: 'Set the GeoLite MaxMindDB Database license key.'
      operationId: postGeoLite
      requestBody:
        content:
          application/json:
            schema:
              properties:
                key:
                  type: string
                  nullable: true
              type: object
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_GeoLiteStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/login_tokens:
    get:
      tags:
        - 'Administration: Users'
      summary: 'List all current unexpired login tokens in the system.'
      operationId: getLoginTokens
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/UserLoginToken' }, { $ref: '#/components/schemas/HasLinks' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Users'
      summary: 'Create a new login token.'
      operationId: addLoginToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Admin_NewLoginToken'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_NewLoginTokenResponse'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/login_token/{id}':
    get:
      tags:
        - 'Administration: Users'
      summary: 'Retrieve details for a single login token.'
      operationId: getLoginToken
      parameters:
        -
          name: id
          in: path
          description: 'Token identifier'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/UserLoginToken' }
                  - { $ref: '#/components/schemas/HasLinks' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Users'
      summary: 'Delete a single login token.'
      operationId: deleteLoginToken
      parameters:
        -
          name: id
          in: path
          description: 'Token identifier'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/logs:
    get:
      tags:
        - 'Administration: General'
      summary: 'List all available log types for viewing.'
      operationId: adminListLogs
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_LogList'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/log/{key}':
    get:
      tags:
        - 'Administration: General'
      summary: 'View a specific log contents.'
      operationId: adminViewLog
      parameters:
        -
          name: key
          in: path
          description: 'Log Key from listing return.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_LogContents'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/permissions:
    get:
      tags:
        - 'Administration: Roles'
      summary: 'Return a list of all available permissions.'
      operationId: getPermissions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Permissions'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/relays/list:
    get:
      tags:
        - 'Administration: General'
      summary: 'Return a list of all currently active AzuraRelay instances.'
      operationId: adminGetRelays
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Relay'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/roles:
    get:
      tags:
        - 'Administration: Roles'
      summary: 'List all current roles in the system.'
      operationId: getRoles
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Role'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Roles'
      summary: 'Create a new role.'
      operationId: addRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Admin_Role'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Role'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/role/{id}':
    get:
      tags:
        - 'Administration: Roles'
      summary: 'Retrieve details for a single current role.'
      operationId: getRole
      parameters:
        -
          name: id
          in: path
          description: 'Role ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_Role'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Roles'
      summary: 'Update details of a single role.'
      operationId: editRole
      parameters:
        -
          name: id
          in: path
          description: 'Role ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Admin_Role'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Roles'
      summary: 'Delete a single role.'
      operationId: deleteRole
      parameters:
        -
          name: id
          in: path
          description: 'Role ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/rsas:
    get:
      tags:
        - 'Administration: General'
      summary: 'Get the current Rocket Streaming Audio Server (RSAS) status.'
      operationId: getRsas
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_RsasStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: General'
      summary: 'Upload a new Rocket Streaming Audio Server (RSAS) binary.'
      operationId: postRsas
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: General'
      summary: 'Removes the Rocket Streaming Audio Server (RSAS) installation.'
      operationId: deleteRsas
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/rsas/license:
    post:
      tags:
        - 'Administration: General'
      summary: 'Upload a new Rocket Streaming Audio Server (RSAS) license key.'
      operationId: postRsasLicense
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: General'
      summary: 'Removes the Rocket Streaming Audio Server (RSAS) license.'
      operationId: deleteRsasLicense
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/send-test-message:
    post:
      tags:
        - 'Administration: General'
      summary: 'Send a test e-mail to confirm mail delivery settings.'
      operationId: adminSendTestEmail
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/server/stats:
    get:
      tags:
        - 'Administration: General'
      summary: 'Return a list of all CPU usage stats.'
      operationId: getServerStats
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_ServerStats'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/services:
    get:
      tags:
        - 'Administration: General'
      summary: 'List the status of essential system services.'
      operationId: getServiceDetails
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_ServiceData'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/services/restart/{service}':
    post:
      tags:
        - 'Administration: General'
      summary: 'Restart the specified service.'
      operationId: restartService
      parameters:
        -
          name: service
          in: path
          description: 'Service name.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomField'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/settings:
    get:
      tags:
        - 'Administration: Settings'
      summary: 'List the current values of all editable system settings.'
      operationId: getSettings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Settings'
      summary: 'Update settings to modify any settings provided.'
      operationId: editSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Settings'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/shoutcast:
    get:
      tags:
        - 'Administration: General'
      summary: 'Get details about the Shoutcast installation.'
      operationId: getShoutcast
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_ShoutcastStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: General'
      summary: 'Upload a new Shoutcast binary.'
      operationId: postShoutcast
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: General'
      summary: 'Removes the installed Shoutcast binary.'
      operationId: deleteShoutcast
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/station/{id}/clone':
    post:
      tags:
        - 'Administration: Stations'
      summary: 'Clone a station, preserving certain settings.'
      operationId: postAdminStationsClone
      parameters:
        -
          name: id
          in: path
          description: 'Station ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: 'The name of the newly cloned station.'
                  type: string
                description:
                  description: 'The description of the newly cloned station.'
                  type: string
                clone:
                  description: 'Which parts of the original station to clone.'
                  type: array
                  items: { type: string, enum: [media_storage, recordings_storage, podcasts_storage, playlists, mounts, remotes, streamers, permissions, webhooks] }
              type: object
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/stations/storage-locations:
    get:
      tags:
        - 'Administration: Stations'
      summary: 'List storage locations available for assignment to a station.'
      operationId: getAdminStationStorageLocations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Api_Form_SimpleOptions'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/stations:
    get:
      tags:
        - 'Administration: Stations'
      summary: 'List all current stations in the system.'
      operationId: adminGetStations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Stations'
      summary: 'Create a new station.'
      operationId: adminAddStation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/station/{id}':
    get:
      tags:
        - 'Administration: Stations'
      summary: 'Retrieve details for a single station.'
      operationId: adminGetStation
      parameters:
        -
          name: id
          in: path
          description: ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Station'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Stations'
      summary: 'Update details of a single station.'
      operationId: adminEditStation
      parameters:
        -
          name: id
          in: path
          description: ID
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Station'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Stations'
      summary: 'Delete a single station.'
      operationId: adminDeleteStation
      parameters:
        -
          name: id
          in: path
          description: ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/stereo_tool:
    get:
      tags:
        - 'Administration: General'
      summary: 'Get information about the Stereo Tool installation.'
      operationId: getStereoTool
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_StereoToolStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: General'
      summary: 'Upload a new Stereo Tool binary.'
      operationId: postStereoTool
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: General'
      summary: 'Removes the installed Stereo Tool binary.'
      operationId: deleteStereoTool
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/storage_locations:
    get:
      tags:
        - 'Administration: Storage Locations'
      summary: 'List all current storage locations in the system.'
      operationId: getStorageLocations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/StorageLocation' }, { $ref: '#/components/schemas/Api_Admin_StorageLocation' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Storage Locations'
      summary: 'Create a new storage location.'
      operationId: addStorageLocation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Admin_StorageLocation'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/StorageLocation' }
                  - { $ref: '#/components/schemas/Api_Admin_StorageLocation' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/storage_location/{id}':
    get:
      tags:
        - 'Administration: Storage Locations'
      summary: 'Retrieve details for a single storage location.'
      operationId: getStorageLocation
      parameters:
        -
          name: id
          in: path
          description: 'User ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/StorageLocation' }
                  - { $ref: '#/components/schemas/Api_Admin_StorageLocation' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Storage Locations'
      summary: 'Update details of a single storage location.'
      operationId: editStorageLocation
      parameters:
        -
          name: id
          in: path
          description: 'Storage Location ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorageLocation'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Storage Locations'
      summary: 'Delete a single storage location.'
      operationId: deleteStorageLocation
      parameters:
        -
          name: id
          in: path
          description: 'Storage Location ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/updates:
    get:
      tags:
        - 'Administration: General'
      summary: 'Show information about this installation and its update status.'
      operationId: getUpdateStatus
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_UpdateDetails'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: General'
      summary: 'Attempts to trigger a web-based update.'
      operationId: putWebUpdate
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /admin/users:
    get:
      tags:
        - 'Administration: Users'
      summary: 'List all current users in the system.'
      operationId: getUsers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_UserWithDetails'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Administration: Users'
      summary: 'Create a new user.'
      operationId: addUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_UserWithDetails'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/admin/user/{id}':
    get:
      tags:
        - 'Administration: Users'
      summary: 'Retrieve details for a single current user.'
      operationId: getUser
      parameters:
        -
          name: id
          in: path
          description: 'User ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Admin_UserWithDetails'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Administration: Users'
      summary: 'Update details of a single user.'
      operationId: editUser
      parameters:
        -
          name: id
          in: path
          description: 'User ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Administration: Users'
      summary: 'Delete a single user.'
      operationId: deleteUser
      parameters:
        -
          name: id
          in: path
          description: 'User ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/api-keys:
    get:
      tags:
        - 'My Account'
      summary: 'List all API keys associated with your account.'
      operationId: getMyApiKeys
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/ApiKey' }, { $ref: '#/components/schemas/HasLinks' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'My Account'
      summary: 'Create a new API key associated with your account.'
      operationId: addMyApiKey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Api_Account_NewApiKey' }
                  - { $ref: '#/components/schemas/ApiKey' }
                  - { $ref: '#/components/schemas/HasLinks' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/frontend/account/api-key/{id}':
    get:
      tags:
        - 'My Account'
      summary: 'Retrieve details for a single API key.'
      operationId: getMyApiKey
      parameters:
        -
          name: id
          in: path
          description: 'API Key ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ApiKey' }
                  - { $ref: '#/components/schemas/HasLinks' }
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'My Account'
      summary: 'Delete a single API key associated with your account.'
      operationId: deleteMyApiKey
      parameters:
        -
          name: id
          in: path
          description: 'API Key ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/two-factor:
    get:
      tags:
        - 'My Account'
      summary: 'Get the current two-factor authentication status of your account.'
      operationId: getMyTwoFactor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Account_TwoFactorStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'My Account'
      summary: 'Register a new two-factor authentication method.'
      operationId: putAccountTwoFactor
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'My Account'
      summary: 'Remove two-factor authentication from your account.'
      operationId: deleteMyTwoFactor
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/me:
    get:
      tags:
        - 'My Account'
      summary: 'Show the details for your current logged-in account.'
      operationId: getMe
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'My Account'
      summary: 'Save changes to your logged in account.'
      operationId: putMe
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/passkeys:
    get:
      tags:
        - 'My Account'
      summary: 'List currently registered passkeys.'
      operationId: getAccountListPasskeys
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/frontend/account/passkey/{id}':
    get:
      tags:
        - 'My Account'
      summary: 'Get the details of a single passkey.'
      operationId: getAccountGetPasskey
      parameters:
        -
          name: id
          in: path
          description: 'Passkey ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'My Account'
      summary: 'Delete a specified passkey by ID.'
      operationId: deleteAccountPasskey
      parameters:
        -
          name: id
          in: path
          description: 'Passkey ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/password:
    put:
      tags:
        - 'My Account'
      summary: 'Change the password of your account.'
      operationId: changeMyPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_Account_ChangePassword'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/account/webauthn/register:
    get:
      tags:
        - 'My Account'
      summary: 'Get registration details for WebAuthn registration.'
      operationId: getAccountWebAuthnRegister
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'My Account'
      summary: 'Submit a new registration request for WebAuthn.'
      operationId: putAccountWebAuthnRegister
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/dashboard/charts:
    put:
      tags:
        - Miscellaneous
      summary: 'Get the measurements for the dashboard charts.'
      operationId: getDashboardCharts
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/dashboard/notifications:
    get:
      tags:
        - Miscellaneous
      summary: 'Show all notifications your current account should see.'
      operationId: getNotifications
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Notification'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  /frontend/dashboard/stations:
    get:
      tags:
        - Miscellaneous
      summary: 'List stations that can be managed by the current user account on the dashboard.'
      operationId: getDashboardStations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf: [{ $ref: '#/components/schemas/Api_NowPlaying' }, { $ref: '#/components/schemas/HasLinks' }]
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /status:
    get:
      tags:
        - 'Public: Miscellaneous'
      summary: 'Returns an affirmative response if the API is active.'
      operationId: getStatus
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_SystemStatus'
      security: []
  /time:
    get:
      tags:
        - 'Public: Miscellaneous'
      description: "Returns the time (with formatting) in GMT and the user's local time zone, if logged in."
      operationId: getTime
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_Time'
      security: []
  /internal/relays:
    get:
      tags:
        - 'Administration: General'
      description: "Returns all necessary information to relay all 'relayable' stations."
      operationId: internalGetRelayDetails
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Admin_Relay'
  /nowplaying:
    get:
      tags:
        - 'Public: Now Playing'
      description: "Returns a full summary of all stations' current state."
      operationId: getAllNowPlaying
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_NowPlaying'
      security: []
  '/nowplaying/{station_id}':
    get:
      tags:
        - 'Public: Now Playing'
      description: "Returns a full summary of the specified station's current state."
      operationId: getStationNowPlaying
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_NowPlaying'
        '404':
          $ref: '#/components/responses/RecordNotFound'
      security: []
  '/nowplaying/{station_id}/art':
    get:
      tags:
        - 'Public: Now Playing'
      summary: 'Always redirects to the current art for the given station.'
      operationId: getStationNowPlayingArt
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '302':
          description: 'A temporary redirect to the correct resource.'
          headers:
            location:
              description: 'The current URL of the resource.'
              schema:
                type: string
        '404':
          $ref: '#/components/responses/RecordNotFound'
      security: []
  /openapi.yml:
    get:
      tags:
        - 'Public: Miscellaneous'
      summary: 'Returns the OpenAPI specification document for this installation.'
      operationId: getOpenApiSpec
      responses:
        '200':
          description: Success
          content:
            text/x-yaml:
              schema:
                description: 'The OpenAPI specification document for this installation.'
                type: string
                format: binary
      security: []
  /prometheus:
    get:
      tags:
        - Miscellaneous
      summary: 'Returns the Prometheus measurements for this installation.'
      operationId: getPrometheus
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                description: 'The Prometheus measurements for this installation.'
                type: string
                format: binary
  '/station/{station_id}/art/{media_id}':
    get:
      tags:
        - 'Public: Stations'
      summary: 'Returns the album art for a song, or a generic image.'
      operationId: getMediaArt
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'The station media unique ID'
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithImage'
        '302':
          description: 'Image not found; generic filler image.'
          headers:
            location:
              description: 'The current URL of the resource.'
              schema:
                type: string
      security: []
    post:
      tags:
        - 'Stations: Media'
      summary: 'Sets the album art for a track.'
      operationId: postMediaArt
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            anyOf:
              -
                type: integer
                format: int64
              -
                type: string
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: Media'
      summary: 'Removes the album art for a track.'
      operationId: deleteMediaArt
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            anyOf:
              -
                type: integer
                format: int64
              -
                type: string
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/bulk':
    get:
      tags:
        - 'Stations: Media'
      summary: 'Download a CSV containing details about all station media.'
      operationId: getStationBulkMediaDownload
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            text/csv:
              schema:
                description: 'A CSV file containing bulk media details.'
                type: string
                format: binary
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: Media'
      summary: 'Upload a CSV containing details about all station media.'
      operationId: postStationBulkMediaUpload
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/bulk/preview':
    post:
      tags:
        - 'Stations: Media'
      summary: 'Preview changes from a CSV containing details about all station media.'
      operationId: postStationBulkMediaPreview
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/custom_assets/{type}':
    get:
      tags:
        - 'Stations: General'
      summary: 'Get the details of the custom asset of the specified type.'
      operationId: getStationCustomAsset
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_UploadedRecordStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: General'
      summary: 'Upload a new custom asset of the specified type.'
      operationId: postStationCustomAsset
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: General'
      summary: 'Removes the custom asset of the specified type.'
      operationId: deleteStationCustomAsset
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: type
          in: path
          description: 'Asset Type'
          required: true
          schema:
            type: string
            enum:
              - album_art
              - background
              - browser_icon
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/fallback':
    get:
      tags:
        - 'Stations: General'
      summary: 'Get the custom fallback track for a station.'
      operationId: getStationFallback
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_UploadedRecordStatus'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: General'
      summary: 'Update the custom fallback track for the station.'
      operationId: postStationFallback
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: General'
      summary: 'Removes the custom fallback track for a station.'
      operationId: deleteStationFallback
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/batch':
    put:
      tags:
        - 'Stations: Media'
      summary: 'Perform a batch action on a collection of files/directories.'
      operationId: putStationFileBatchAction
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/download':
    get:
      tags:
        - 'Stations: Media'
      summary: 'Download a file by relative path.'
      operationId: getStationFileDownload
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: file
          in: query
          description: 'The relative path of the file in the Media filesystem.'
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithDownload'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/upload':
    post:
      tags:
        - 'Stations: Media'
      summary: 'Upload and process a new media file.'
      operationId: postUploadFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/list':
    get:
      tags:
        - 'Stations: Media'
      summary: 'List files in the media directory by path.'
      operationId: getStationFileList
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: currentDirectory
          in: query
          required: true
          schema:
            type: string
        -
          name: searchPhrase
          in: query
          schema:
            type: string
            nullable: true
        -
          name: flushCache
          in: query
          schema:
            type: boolean
            default: false
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_FileList'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/directories':
    get:
      tags:
        - 'Stations: Media'
      summary: 'List directories in a station media library for moving/renaming.'
      operationId: getStationFileDirectories
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/mkdir':
    post:
      tags:
        - 'Stations: Media'
      summary: 'Create a directory in a station media directory.'
      operationId: postStationFilesMkdir
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/file/{id}/play':
    get:
      tags:
        - 'Stations: Media'
      summary: 'Download or play a given file by ID.'
      operationId: getPlayFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithDownload'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/file/{song_id}/play':
    get:
      tags:
        - 'Stations: Media'
      summary: 'Download or play a given file by song_id.'
      operationId: getPlayFileSongId
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: song_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            type: string
            format: guid
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithDownload'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files/rename':
    put:
      tags:
        - 'Stations: Media'
      summary: 'Rename the specified files in the station media directory.'
      operationId: postStationFilesRename
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/files':
    get:
      tags:
        - 'Stations: Media'
      summary: 'List all current uploaded files.'
      operationId: getFiles
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_StationMedia'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: Media'
      summary: 'Upload a new file.'
      operationId: addFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_UploadFile'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_StationMedia'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/file/{id}':
    get:
      tags:
        - 'Stations: Media'
      summary: 'Retrieve details for a single file.'
      operationId: getFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_StationMedia'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Stations: Media'
      summary: 'Update details of a single file.'
      operationId: editFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api_StationMedia'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: Media'
      summary: 'Delete a single file.'
      operationId: deleteFile
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: media_id
          in: path
          description: 'Media ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/quota':
    get:
      tags:
        - 'Stations: General'
      summary: 'Get the current usage and quota for a given station storage location.'
      operationId: getQuota
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_StationQuota'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/quota/{type}':
    get:
      tags:
        - 'Stations: General'
      summary: 'Get the current usage and quota for a given station storage location.'
      operationId: getQuotaOfType
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: type
          in: path
          description: 'The storage location type (i.e. station_media, station_recordings, station_podcasts)'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_StationQuota'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/history':
    get:
      tags:
        - 'Stations: Reports'
      summary: 'Return song playback history items for a given station.'
      operationId: getStationHistory
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: start
          in: query
          description: 'The start date for records, in PHP-supported date/time format. (https://www.php.net/manual/en/datetime.formats.php)'
          required: false
          schema:
            type: string
        -
          name: end
          in: query
          description: 'The end date for records, in PHP-supported date/time format. (https://www.php.net/manual/en/datetime.formats.php)'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_DetailedSongHistory'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/hls_streams':
    get:
      tags:
        - 'Stations: HLS Streams'
      summary: 'List all current HLS streams.'
      operationId: getHlsStreams
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationHlsStream'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: HLS Streams'
      summary: 'Create a new HLS stream.'
      operationId: addHlsStream
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StationHlsStream'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationHlsStream'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/hls_stream/{id}':
    get:
      tags:
        - 'Stations: HLS Streams'
      summary: 'Retrieve details for a single HLS stream.'
      operationId: getHlsStream
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'HLS Stream ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationHlsStream'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Stations: HLS Streams'
      summary: 'Update details of a single HLS stream.'
      operationId: editHlsStream
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'HLS Stream ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StationHlsStream'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: HLS Streams'
      summary: 'Delete a single HLS stream.'
      operationId: deleteHlsStream
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'HLS Stream ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  /stations:
    get:
      tags:
        - 'Public: Stations'
      summary: 'Returns a list of stations.'
      operationId: getStations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_NowPlaying_Station'
      security: []
  '/station/{station_id}':
    get:
      tags:
        - 'Public: Stations'
      summary: 'Return information about a single station.'
      operationId: getStation
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_NowPlaying_Station'
        '404':
          $ref: '#/components/responses/RecordNotFound'
      security: []
  '/station/{station_id}/liquidsoap-config/export':
    get:
      tags:
        - 'Stations: Broadcasting'
      summary: 'Generate an archive of all Liquidsoap configuration on your station, including custom config.'
      operationId: exportStationLiquidsoapConfig
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/liquidsoap-config':
    get:
      tags:
        - 'Stations: Broadcasting'
      summary: 'Get the generated and editable sections of the station Liquidsoap configuration.'
      operationId: getStationLiquidsoapConfig
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Stations: Broadcasting'
      summary: 'Save the editable sections of the station Liquidsoap configuration.'
      operationId: putStationLiquidsoapConfig
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/liquidsoap-config/import':
    post:
      tags:
        - 'Stations: Broadcasting'
      summary: 'Import a previously exported Liquidsoap configuration archive and replace custom config sections.'
      operationId: importStationLiquidsoapConfig
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/listeners':
    get:
      tags:
        - 'Stations: Reports'
      summary: 'Return detailed information about current listeners.'
      operationId: getStationListeners
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_Listener'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/logs':
    get:
      tags:
        - 'Stations: General'
      summary: 'Return a list of available logs for the given station.'
      operationId: getStationLogs
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Api_LogType'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/log/{key}':
    get:
      tags:
        - 'Stations: General'
      summary: 'View a specific log contents for the given station.'
      operationId: getStationLog
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: key
          in: path
          description: 'Log Key from listing return.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api_LogContents'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/mount/{id}/intro':
    get:
      tags:
        - 'Stations: Mount Points'
      summary: 'Get the intro track for a mount point.'
      operationId: getMountIntro
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'Mount Point ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/SuccessWithDownload'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: Mount Points'
      summary: 'Update the intro track for a mount point.'
      operationId: postMountIntro
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'Mount Point ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: '#/components/requestBodies/FlowFileUpload'
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    delete:
      tags:
        - 'Stations: Mount Points'
      summary: 'Removes the intro track for a mount point.'
      operationId: deleteMountIntro
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'Mount Point ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          $ref: '#/components/responses/Success'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/mounts':
    get:
      tags:
        - 'Stations: Mount Points'
      summary: 'List all current mount points.'
      operationId: getStationMounts
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StationMount'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
    post:
      tags:
        - 'Stations: Mount Points'
      summary: 'Create a new mount point.'
      operationId: addMount
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StationMount'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationMount'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '500':
          $ref: '#/components/responses/GenericError'
  '/station/{station_id}/mount/{id}':
    get:
      tags:
        - 'Stations: Mount Points'
      summary: 'Retrieve details for a single mount point.'
      operationId: getMount
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'Mount Point ID'
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationMount'
        '403':
          $ref: '#/components/responses/AccessDenied'
        '404':
          $ref: '#/components/responses/RecordNotFound'
        '500':
          $ref: '#/components/responses/GenericError'
    put:
      tags:
        - 'Stations: Mount Points'
      summary: 'Update details of a single mount point.'
      operationId: editMount
      parameters:
        -
          $ref: '#/components/parameters/StationIdRequired'
        -
          name: id
          in: path
          description: 'Mount Point ID'
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
[...]
