[global]

error_log = syslog
daemonize = no

[www]
user = azuracast
group = azuracast

listen = 0.0.0.0:9000

pm = ondemand
pm.max_children = {{ default .Env.PHP_FPM_MAX_CHILDREN "5" }}
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 100
pm.process_idle_timeout = 60s

chdir = /

clear_env=No
catch_workers_output = yes
decorate_workers_output = no