0 * * * * php {{ util_base }}/cli.php sync:run long
*/5 * * * * php {{ util_base }}/cli.php sync:run medium
* * * * * php {{ util_base }}/cli.php sync:run short
* * * * * php {{ util_base }}/cli.php sync:run nowplaying
* * * * * sleep 15; php {{ util_base }}/cli.php sync:run nowplaying
* * * * * sleep 30; php {{ util_base }}/cli.php sync:run nowplaying
* * * * * sleep 45; php {{ util_base }}/cli.php sync:run nowplaying
