* * * * * php {{ www_base }}/bin/console azuracast:sync:run
*/5 * * * * php {{ www_base }}/bin/console azuracast:sync:nowplaying --timeout=300
0 */6 * * * tmpreaper 12h /var/azuracast/stations/*/temp
