.icon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: -.125em;
  fill: currentcolor;

  &.sm, .btn-sm & {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &.lg, .btn-lg & {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }

  &.xl, .btn-xl & {
    width: $icon-size-xl;
    height: $icon-size-xl;
  }
}
