/*
 * Overrides to handle Oruga not properly styling pagination controls.
 */

.pagination-wrapper {
  display: contents;

  .pagination-prev,
  .pagination-next {
    display: none;
  }

  ul.pagination {
    margin-bottom: 0;

    li span {
      position: relative;
      display: block;
      padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
      font-size: var(--bs-pagination-font-size);
      color: var(--bs-pagination-disabled-color);
      background-color: var(--bs-pagination-disabled-bg);
      border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    }

    li:first-child a,
    li:first-child span {
      border-top-left-radius: var(--bs-pagination-border-radius);
      border-bottom-left-radius: var(--bs-pagination-border-radius);
    }

    li:last-child a,
    li:last-child span {
      border-top-right-radius: var(--bs-pagination-border-radius);
      border-bottom-right-radius: var(--bs-pagination-border-radius);
    }
  }
}

