.swal2-popup {
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14), 0 3px 4px 0 rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);

  .swal2-actions {
    .swal2-styled {
      &.swal2-confirm {
        background-color: var(--bs-primary);
      }
    }
  }
}
