$secondary: (
  color: $material-color-amber-600,
  dark:  $material-color-amber-900,
  light: $material-color-amber-200
);

$theme-colors: map-merge(
  $theme-colors,
  (
    primary:   $primary,
    secondary: $secondary,
    danger:    $danger,
    info:      $info,
    success:   $success,
    warning:   $warning,
    dark:      $dark,
    light:     $light
  )
);
