body.embed {
  background: transparent !important;
  color-scheme: unset;
  min-height: auto;
}

body.embed-social {
  min-height: auto;
  padding: 1rem;
  background: var(--bs-card-bg) !important;
}
