.pvl-navbar {
	z-index: 1000;
	width: auto;
	
	height: 42px;
	
	box-shadow: 1px 1px 2px #000;
}
.pvl-navbar-inner,
.pvl-navbar-inner a {
  height: 42px;
  overflow: hidden;
}

.pvl-navbar-inner {
	text-align: center;
	
	background: #1B1B1B url('header_bg.png') center center no-repeat;
	border-bottom: 1px solid #252525;
}

.pvl-navbar-inner a {
  height: 42px;
  overflow: hidden;
}