[group:core]
programs=php7-fpm,mysqld,nginx,influxdb

[program:php7-fpm]
command=/usr/sbin/php-fpm7.1 -F -c /etc/php/7.1/fpm/
autostart=true
autorestart=true
priority=5

[program:mysqld]
command=/usr/sbin/mysqld --basedir=/usr --datadir=/var/lib/mysql --plugin-dir=/usr/lib/mysql/plugin --user=mysql --log-error=/var/log/mysql/error.log --pid-file=/var/run/mysqld/mysqld.pid --socket=/var/run/mysqld/mysqld.sock --port=3306
autostart=true
autorestart=true
stdout_events_enabled=true
stderr_events_enabled=true

[program:nginx]
command=/usr/sbin/nginx -g 'daemon off;'
autostart=true
autorestart=true
priority=10
stdout_events_enabled=true
stderr_events_enabled=true

[program:influxdb]
command=/usr/bin/influxd -config /etc/influxdb/influxdb.conf
autostart=true
autorestart=true
priority=10
stdout_events_enabled=true
stderr_events_enabled=true