# Environment-specific files.
app/config/db.conf.php
app/config/apis.conf.php
app/config/influx.conf.php
app/config/cache.conf.php

# Local development files.
app/modules/frontend/controllers/UtilController.php

# Junk/cache files.
*Thumbs.db
tmp/cache/*---*
app/models/Proxy/*.php
*.DS_Store
*.apdisk
.vagrant
.idea

# Local development files.
app/.env

# Composer-generated content
/vendor/

# Ansible deployment files
/ansible/
/util/ansible/deploy.retry
/util/ansible/update.retry