# Node Modules
node_modules

# Junk/cache files.
*Thumbs.db
tmp/cache/*---*
*.DS_Store
*.apdisk
.vagrant
.idea
/ubuntu-*-console.log
.phplint-cache

# Local development files.
/config/routes.dev.php
/env.ini
/app/env.ini
/app/.env
/azuracast.env
/util/fixtures/*
/util/fixtures/**/*
!/util/fixtures/.gitkeep
/util/local_ssl/*
!/util/local_ssl/.gitkeep
/web/static/yarn-error.log
/util/package_usage_report*

# Composer-generated content
/vendor/*
/vendor/**/*
!/vendor/.gitkeep

# NPM built content
/web/static/dist/*
/web/static/dist/**/*
!/web/static/dist/.gitkeep
/web/static/assets.json
/web/static/webpack.json

# Ansible deployment files
/ansible/
/util/ansible/deploy.retry
/util/ansible/update.retry
/tests/_output/*

# Docker files
/docker-compose.yml
/docker-compose.new.yml
/docker-compose.override.yml
/.env

# Backups
/*.tar.gz
/*.zip

# Plugins
/plugins/*
/plugins/**/*
!/plugins/.gitkeep
