version: '2.2'

services:
  nginx_proxy:
    build:
      context: ../docker-azuracast-nginx-proxy
    volumes:
      - ./util/local_ssl:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro

  web:
    build:
      context: .
    volumes:
      - ./util/local_ssl:/etc/nginx/certs:ro
      - ./vendor:/var/azuracast/www/vendor
      - .:/var/azuracast/www

  mariadb:
    build:
      context: ../docker-azuracast-db
    ports:
      - "127.0.0.1:3306:3306"

  redis:
    build:
      context: ../docker-azuracast-redis
    ports:
      - "127.0.0.1:6379:6379"

  stations:
    build:
      context: ../docker-azuracast-radio
    volumes:
      - ./util/local_ssl:/etc/nginx/certs:ro
