parameters:
    level: 3

    paths:
        - src

    bootstrapFiles:
        - %rootDir%/../../../util/phpstan.php

    universalObjectCratesClasses:
        - App\Session\NamespaceInterface
        - App\View

    ignoreErrors:
        # Caused by Symfony Validator (perhaps wrongly) returning the interface.
        - '#Cannot cast Symfony\\Component\\Validator\\ConstraintViolationListInterface to string.#'

includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon