parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180412055024.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180429013130.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180818223558.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20190513163051.php

		-
			message: "#^Parameter \\#2 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:delete\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20201204043539.php

		-
			message: "#^Method App\\\\Normalizer\\\\DoctrineEntityNormalizer\\:\\:getAllowedAttributes\\(\\) should return array\\|false but returns array\\<string\\|Symfony\\\\Component\\\\Serializer\\\\Mapping\\\\AttributeMetadataInterface\\>\\|bool\\.$#"
			count: 1
			path: src/Normalizer/DoctrineEntityNormalizer.php

		-
			message: "#^Parameter \\#1 \\$className of method Doctrine\\\\ORM\\\\EntityManagerInterface\\:\\:getRepository\\(\\) expects class\\-string\\<object\\>, class\\-string\\|false given\\.$#"
			count: 1
			path: src/Validator/Constraints/UniqueEntityValidator.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$depth\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$hasAttributes\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$isEmptyElement\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$localName\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$name\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$nodeType\\.$#"
			count: 1
			path: src/Xml/Reader.php

		-
			message: "#^Access to an undefined property XMLReader\\:\\:\\$value\\.$#"
			count: 2
			path: src/Xml/Reader.php

