parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/CustomFieldsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Admin/CustomFieldsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/CustomFieldsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/CustomFieldsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/PermissionsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/RolesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Admin/RolesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/RolesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/RolesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/SettingsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/SettingsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Admin/StationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StorageLocationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Admin/StorageLocationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StorageLocationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/StorageLocationsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/UsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Admin/UsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/UsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Admin/UsersController.php

		-
			message: "#^Parameter \\#2 \\$record of method App\\\\Controller\\\\Api\\\\AbstractApiCrudController\\<TEntity of App\\\\Entity\\\\StationPlaylist\\|App\\\\Entity\\\\StationStreamer\\>\\:\\:fromArray\\(\\) expects \\(TEntity of App\\\\Entity\\\\StationPlaylist\\|App\\\\Entity\\\\StationStreamer\\)\\|null, \\(TEntity of App\\\\Entity\\\\StationPlaylist\\|App\\\\Entity\\\\StationStreamer\\)\\|null given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/AbstractScheduledEntityController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Art/DeleteArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Art/PostArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Automation/RunAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/FilesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/FilesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/FilesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/FilesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/HistoryController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/ListenersAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Mounts/Intro/DeleteIntroAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Mounts/Intro/GetIntroAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Mounts/Intro/PostIntroAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/MountsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/MountsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/MountsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/MountsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PlaylistsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/PlaylistsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PlaylistsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PlaylistsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastEpisodesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/PodcastEpisodesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastEpisodesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastEpisodesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Art/DeleteArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Art/GetArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Art/PostArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Art/DeleteArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Art/GetArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Art/PostArtAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Media/DeleteMediaAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Media/GetMediaAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/Podcasts/Episodes/Media/PostMediaAction.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/PodcastsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/PodcastsController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/QueueController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/QueueController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/RemotesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/RemotesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/RemotesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/RemotesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/ServicesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 3
			path: src/Controller/Api/Stations/ServicesController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/SftpUsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/SftpUsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/SftpUsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/SftpUsersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/StreamersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/StreamersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/StreamersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/StreamersController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Delete constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/WebhooksController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Get constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 2
			path: src/Controller/Api/Stations/WebhooksController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Post constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/WebhooksController.php

		-
			message: "#^Parameter \\$security of attribute class OpenApi\\\\Attributes\\\\Put constructor expects array\\<string\\>\\|null, array\\<int, array\\<string, array\\>\\> given\\.$#"
			count: 1
			path: src/Controller/Api/Stations/WebhooksController.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180412055024.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180429013130.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20180818223558.php

		-
			message: "#^Parameter \\#3 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:update\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20190513163051.php

		-
			message: "#^Parameter \\#2 \\$criteria of method Doctrine\\\\DBAL\\\\Connection\\:\\:delete\\(\\) expects array\\<string, mixed\\>, array\\<int, int\\> given\\.$#"
			count: 1
			path: src/Entity/Migration/Version20201204043539.php

		-
			message: "#^Static property App\\\\Environment\\:\\:\\$instance \\(static\\(App\\\\Environment\\)\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Environment.php

		-
			message: "#^Cannot cast Symfony\\\\Component\\\\Validator\\\\ConstraintViolationListInterface to string\\.$#"
			count: 1
			path: src/Exception/ValidationException.php

		-
			message: "#^Static property App\\\\Session\\\\Csrf\\:\\:\\$instance \\(static\\(App\\\\Session\\\\Csrf\\)\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Session/Csrf.php

		-
			message: "#^Static property App\\\\Session\\\\Flash\\:\\:\\$instance \\(static\\(App\\\\Session\\\\Flash\\)\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: src/Session/Flash.php

		-
			message: "#^Parameter \\#1 \\$className of method Doctrine\\\\ORM\\\\EntityManagerInterface\\:\\:getRepository\\(\\) expects class\\-string\\<object\\>, class\\-string\\|false given\\.$#"
			count: 1
			path: src/Validator/Constraints/UniqueEntityValidator.php

		-
			message: "#^Parameter \\#2 \\$callback of method League\\\\Plates\\\\Engine\\:\\:registerFunction\\(\\) expects League\\\\Plates\\\\callback, Closure given\\.$#"
			count: 7
			path: src/View.php

