// Button (Bootstrap button)
// Based on https://material.google.com/components/buttons.html#buttons-style

// N.B. Material design only specifies specs for default button (.btn) and dense button (.btn-sm)

$btn-bg-active:               rgba(153, 153, 153, 0.4);
$btn-bg-active-inverse:       rgba(204, 204, 204, 0.25);
$btn-bg-disabled:             $black-divider;
$btn-bg-disabled-inverse:     $white-divider;
$btn-color:                   $material-color-grey-200;
$btn-color-disabled:          rgba(0, 0, 0, 0.26);
$btn-color-disabled-inverse:  rgba(255, 255, 255, 0.3);
$btn-elevation-shadow:        map-get($elevation-shadows, 2);
$btn-elevation-shadow-active: map-get($elevation-shadows, 8);
$btn-overlay:                 $black-divider;
$btn-overlay-inverse:         $white-divider;

// Button: toggle buttons (Boostrap button group)
// Based on https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons

$btn-group-bg:             $dark-theme-3;

// Card (Bootstrap card)
// Based on https://material.google.com/components/cards.html#cards-usage

$card-bg:                     $dark-theme-2;
$card-border-color:           $border-color;

// Chip
// Based on https://material.google.com/components/chips.html#chips-specs

$chip-bg:                     $material-color-grey-300;
$chip-bg-active:              $material-color-grey-400;
$chip-color:                  $material-color-grey-200;
$chip-icon-bg:                theme-color(secondary);

// Data table (Bootstrap table)
// Based on https://material.google.com/components/data-tables.html#data-tables-structure

$table-bg:                    none;
$table-bg-active:             rgba(255, 255, 255, 0.05);
$table-bg-active-hover:       rgba(255, 255, 255, 0.05);
$table-bg-accent:             rgba(255, 255, 255, 0.03);
$table-bg-hover:              rgba(255, 255, 255, 0.05);
$table-border-color:          $theme-color-4;
$table-border-width:          0;

$table-dark-bg:               $dark-theme-4;
$table-dark-bg-accent:        $dark-theme-3;
$table-dark-bg-hover:         $dark-theme-2;
$table-dark-border-color:     $dark-theme-3;
$table-dark-color:            $white-primary;

$table-tbody-color:           $material-color-grey-400;

$table-tfoot-color:           $white-secondary;

$table-thead-bg:              $table-bg-accent;
$table-thead-color:           $table-tfoot-color;

// Dialog (Bootstrap modal)
// Based on https://material.google.com/components/dialogs.html#dialogs-specs

$dialog-backdrop-bg:                  $black-hint;
$dialog-content-bg:                   $dark-theme-2;

// Expansion panel (Bootstrap list group)
// Based on https://material.google.com/components/expansion-panels.html#expansion-panels-specs

$expansion-panel-bg:                    $dark-theme-3;
$expansion-panel-bg-active:             $dark-theme-4;
$expansion-panel-border-color:          $border-color;
$expansion-panel-border-width:          $border-width;
$expansion-panel-color:                 $material-color-grey-200;
$expansion-panel-color-disabled:        $white-hint;

// Menu (Bootstrap dropdown)
// Based on https://material.google.com/components/menus.html#menus-specs

$menu-bg:                       $dark-theme-3;
$menu-divider-bg:               $border-color;
$menu-header-color:             $material-color-grey-200;
$menu-link-bg:                  transparent;
$menu-link-bg-hover:            $dark-theme-4;
$menu-link-color:               $material-color-grey-200;
$menu-link-color-disabled:      $white-hint;

// Navigation drawer
// Based on https://material.google.com/patterns/navigation-drawer.html#navigation-drawer-specs

$navdrawer-backdrop-bg:             $dialog-backdrop-bg;
$navdrawer-border-color:            $border-color;
$navdrawer-border-width:            0;
$navdrawer-content-bg:              $dialog-content-bg;
$navdrawer-divider-bg:              $border-color;
$navdrawer-header-bg:               $dark-theme-3;
$navdrawer-header-border-color:     $border-color;
$navdrawer-header-border-width:     0;
$navdrawer-nav-icon-color:          $material-color-grey-700;
$navdrawer-nav-link-bg-hover:       $dark-theme-4;
$navdrawer-nav-link-color:          $material-color-grey-400;
$navdrawer-nav-link-color-active:   theme-color(primary);
$navdrawer-nav-link-color-disabled: $material-color-grey-600;
$navdrawer-subheader-color:         $material-color-grey-400;

// Picker
// Based on https://material.google.com/components/pickers.html#pickers-date-pickers

$picker-content-bg:           $dialog-content-bg;
$picker-day-bg-selected:      theme-color(primary);
$picker-day-color-disabled:   $black-hint;
$picker-day-color-today:      theme-color(primary);
$picker-header-bg:            theme-color(primary);
$picker-holder-bg:            $dialog-backdrop-bg;
$picker-weekday-color:        $black-hint;

// Progress (Bootstrap progress bar)
// Based on https://material.google.com/components/progress-activity.html#progress-activity-types-of-indicators

$progress-bar-bg:                      $material-color-indigo-500;
$progress-bg:                          $material-color-indigo-100;

$progress-circular-bg:                 $material-color-indigo-500;

// Selection control (Bootstrap custom form control)
// Based on https://material.google.com/components/selection-controls.html

$selection-control-color:                       $white-hint;
$selection-control-color-active:                theme-color(secondary);
$selection-control-color-disabled:              rgba(0, 0, 0, 0.26);
$selection-control-indicator-size:              $material-icon-size;
$selection-control-radial-opacity:              $black-divider-opacity;
$selection-control-radio-icon:                  'radio_button_unchecked';
$selection-control-radio-icon-checked:          'radio_button_checked';
$selection-control-thumb-bg:                    $material-color-grey-050;
$selection-control-thumb-bg-disabled:           #bdbdbd;
$selection-control-thumb-shadow:                0 1px 5px 0 rgba(0, 0, 0, $black-secondary-opacity);
$selection-control-track-bg:                    $black-hint;
$selection-control-track-bg-disabled:           $black-divider;

// Slider (Bootstrap custom form control)
// Based on https://material.io/guidelines/components/sliders.html#sliders-continuous-slider

$slider-thumb-bg:             theme-color(secondary);
$slider-thumb-radial-opacity: $black-divider-opacity;
$slider-track-bg:             rgba(0, 0, 0, 0.26);
$slider-track-bg-active:      rgba(0, 0, 0, 0.38);

// Snackbar
// Based on https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-specs

$snackbar-bg:                     #323232;
$snackbar-btn-color:              theme-color(secondary);
$snackbar-btn-color-hover:        theme-color-light(secondary);
$snackbar-color:                  $white-primary;
$snackbar-elevation-shadow:       map-get($elevation-shadows, 6);

// Stepper
// Based on https://material.google.com/components/steppers.html#steppers-specs

$stepper-bg:                $body-bg;
$stepper-border-color:      $material-color-grey-800;
$stepper-icon-bg:           $theme-color-3;
$stepper-icon-bg-active:    theme-color(primary);
$stepper-icon-color:        $white-primary;
$stepper-icon-height:       $material-icon-size;
$stepper-text-color:        $white-divider;
$stepper-text-color-active: $material-color-grey-200;

// Tab (Bootstrap tab)
// Based on https://material.google.com/components/tabs.html#tabs-specs

$nav-tab-bg-hover:         $black-divider;
$nav-tab-border-color:     $border-color;
$nav-tab-border-width:     $border-width;
$nav-tab-color:            $material-color-grey-200;
$nav-tab-color-active:     theme-color(secondary);
$nav-tab-color-disabled:   $black-hint;
$nav-tab-indicator-bg:     theme-color(secondary);

// Text field (Bootstrap form control)
// Based on https://material.io/guidelines/components/text-fields.html#text-fields-states

$textfield-border-color:       rgba(255, 255, 255, 0.22);
$textfield-border-color-focus: theme-color(secondary);
$textfield-border-color-hover: rgba(255, 255, 255, 0.47);
$textfield-border-width:       $border-width;
$textfield-border-width-focus: ($textfield-border-width * 2);
$textfield-border-width-hover: ($textfield-border-width * 2);
$textfield-color:              $white-secondary;
$textfield-color-disabled:     $white-hint;
$textfield-hint-color:         $white-secondary;
$textfield-plaintext-color:    $body-color;

// Text field: box
// Based on https://material.io/guidelines/components/text-fields.html#text-fields-text-field-boxes

$textfield-box-bg:             rgba(0, 0, 0, 0.06);

// Text field: floating label
// Based on https://material.google.com/components/text-fields.html#text-fields-labels

$floating-label-color:           $textfield-hint-color;
$floating-label-color-focus:     theme-color(secondary);

// Toolbar (Bootstrap navbar)
// Based on https://material.google.com/components/toolbars.html#toolbars-usage

$toolbar-color:                 $material-color-grey-200;
$toolbar-color-lighter:         $black-hint;
$toolbar-element-bg:            $black-divider;
$toolbar-toggler-icon:          'menu';
$toolbar-waterfall-bg:          theme-color(primary);

$toolbar-dark-color:            $white-primary;
$toolbar-dark-color-lighter:    $white-hint;
$toolbar-dark-element-bg:       $white-divider;

// Tooltip (Bootstrap tooltip)
// Based on https://material.google.com/components/tooltips.html#tooltips-tooltips-desktop

$tooltip-bg:                $material-color-grey-700;
$tooltip-color:             $white-primary;
$tooltip-opacity:           0.9;
