body {
  position: relative;

  #main {
    padding-bottom: 75px;
    padding-top: 100px;
    min-height: 100vh;
  }

  @include media-breakpoint-up(lg) {
    &.has-sidebar #main {
      margin-left: $navdrawer-width;
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  margin: 2px 0;
  border-radius: 10px;
  background: $navdrawer-nav-link-bg-hover;
}

::-webkit-scrollbar-corner {
  background: $body-bg;
  border: 0;
}
