body {
  position: relative;

  #main {
    padding-bottom: 4rem;
    padding-top: ($header-nav-height + ($container-padding-x * .5));

    min-height: 100vh;
  }

  @include media-breakpoint-down(sm) {
    #main {
      padding-top: ($container-padding-x * .5);
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--bs-body-bg);
}

::-webkit-scrollbar-track {
  padding: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  margin: 2px 0;
  border-radius: 10px;
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-corner {
  border: 0;
  background: var(--bs-body-bg);
}
