@charset "utf-8";

body, p, input, button, select, textarea, th, td,
.table th, .table td {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1.title,
h2.title {
	padding: 0 0 20px 40px;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 28px;
}
h1, h2 {
	color: #2C7FD2;
}
dl dt {
	font-size: 14px;
	line-height: 16px;
}

a {
	color: #2C7FD2;
}
a:hover {
	color: #5699DC;
}
hr {
	border-top: 1px solid #163D63;
	border-bottom: 1px solid #0C2034;
}
code {
	color: #DDD;
	background: #0E2B47;
	border: 1px solid #15416C;
}

fieldset legend {
	color: #CCC;
	border: 0;
}

html.embedded {
	background: none;
}

body {
	background: transparent;
}

form span.help-block, 
form span.help-inline {
	font-size: 12px;
}

/**
 * Main Body
 */

div#body {
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
	
	border: 0;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.thumbnail .caption {
	padding: 9px;
}
.thumbnail h5 {
	padding: 0;
}

.form-actions {
	border: 0;
	background: transparent;
}
form span.help-block, 
form span.help-inline {
	font-size: 12px;
	color: #AAA;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #0E2B47;
	background-color: rgba(14,43,71,0.6);
}
.table tbody tr:hover td {
	background-color: #15416C;
	background-color: rgba(21,65,108,0.6);
}
.table th, .table td {
	border-top: 0;
}

.pagination ul > li > a,
.pagination ul > li > span {
	color: #CCC;
	background-color: #112E4A;
	border: 1px solid #1F5285;
}
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #FFF;
	background-color: #1F5285;
}

/**
 * Main Body
 */

div#body {
	border-radius: 0 0 10px 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.content-top-alert {
	margin-left: 20px;
	margin-right: 20px;
}

div#content_top_wrapper {
	border-bottom: 1px solid #CCC;
}
div#content_top {
	color: #888;
	margin-top: -18px;
	padding: 10px 20px 5px 20px;
}

div#page_wrapper {
	margin-top: 20px;
}

div#breadcrumb {
	font-size: smaller;
	padding: 0 20px 0px 42px;
}

div.floating {
	background: none;
	filter: -;
	border: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	padding: 0;
	margin-left: 0;
	margin-right: 0;
}

html.flash .no-flash,
html.no-flash .flash {
	display: none;
}

.progress {
	margin-bottom: 0;
}

/**
 * Responsive
 */

@media (max-width: 480px) {
	.media .pull-left {
		float: left;
	}
	.media .pull-right {
		float: right;
	}
}

@media (max-width: 980px) {
	div#body {
		margin-top: 0;
	}

	.narrow-block,
	.mobile-block {
		display: block;
	}
	.narrow-inline,
	.mobile-inline {
		display: inline;
	}
	.wide-block,
	.wide-inline {
		display: none;
	}
}

@media (max-width: 767px) {
	html.full_layout {
		background-image: none;
	}	
	body {
		padding-left: 0;
		padding-right: 0;
	}
	body div#body {
		background: none;
		border-radius: 0;
		margin-bottom: 0;
	}

	h1.title {
		padding-left: 20px;
	}

	body .row {
		margin-left: 0px;
	}
	
	.container {
		width: auto;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar .container {
		width: 764px;
	}
	.row {
		margin-left: 0px;
	}
}

@media (min-width: 1200px) {
	.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar .container {
		width: 1210px;
	}
	.row {
		margin-left: -10px;
	}
	div.floating, div.floating-wrapper {
		margin-bottom: 30px;
	}
}