@import 'colors';
@import 'functions';
@import 'mixins';

// Sass option
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Variables
@import 'variables/elevation-shadow';
@import 'variables/grid';
@import 'variables/palette';
@import 'variables/spacer';
@import 'variables/transition';
@import 'variables/typography';
@import 'variables/variable-bootstrap';
@import 'variables/variable-material';

@import 'azuracast/variables';

// Base CSS
@import 'base/base-colors';
@import 'base/typography-colors';

// Bootstrap components
// Components covered in Bootstrap's css but not in Material design
@import 'bootstrap/alert-colors';
@import 'bootstrap/badge-colors';
@import 'bootstrap/breadcrumb-colors';
@import 'bootstrap/close-colors';
@import 'bootstrap/code-colors';
@import 'bootstrap/form-colors';
@import 'bootstrap/image-colors';
@import 'bootstrap/nav-colors';
@import 'bootstrap/pagination-colors';
@import 'bootstrap/popover-colors';

// Material components
// Components covered in Material design (https://material.google.com/components)
@import 'material/button-colors';
@import 'material/button-flat-colors';
@import 'material/button-group-colors';
@import 'material/card-colors';
@import 'material/chip-colors';
@import 'material/data-table-colors';
@import 'material/dialog-colors';
@import 'material/expansion-panel-colors';
@import 'material/menu-colors';
@import 'material/navdrawer-colors';
@import 'material/picker-colors';
@import 'material/progress-colors';
@import 'material/progress-circular-colors';
@import 'material/selection-control-colors';
@import 'material/slider-colors';
@import 'material/snackbar-colors';
@import 'material/stepper-colors';
@import 'material/tab-colors';
@import 'material/text-field-colors';
@import 'material/text-field-box-colors';
@import 'material/text-field-floating-label-colors';
@import 'material/text-field-input-group-colors';
@import 'material/toolbar-colors';
@import 'material/tooltip-colors';

// Utilities
@import 'utilities/border-colors';
@import 'utilities/background-colors';
@import 'utilities/text-colors';

// Overrides for specific third-party products
@import 'vendors/bootgrid-colors';
@import 'vendors/codemirror-colors';
@import 'vendors/daterangepicker-colors';
@import 'vendors/fullcalendar-colors';
@import 'vendors/waveform-colors';
@import 'vendors/sweetalert2-colors';
@import 'vendors/select2-colors';

// Overrides for the Daemonite Material theme
@import 'azuracast/overrides/body-colors';
@import 'azuracast/overrides/forms-colors';
@import 'azuracast/overrides/file-uploads-colors';

// Individual AzuraCast pages
@import 'azuracast/pages/embed-colors';
@import 'azuracast/pages/public-colors';
