// Load Oruga UI
@import '@oruga-ui/theme-bootstrap/dist/scss/components/utils/_all.scss';

@import '@oruga-ui/theme-bootstrap/dist/scss/components/_autocomplete.scss';
// @import '@oruga-ui/theme-bootstrap/dist/scss/components/_button.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_checkbox.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_collapse.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_datepicker.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_dropdown.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_form.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_field.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_icon.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_loading.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_modal.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_notification.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_pagination.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_radio.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_select.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_sidebar.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_skeleton.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_slider.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_steps.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_switch.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_tab.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_table.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_taginput.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_timepicker.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_tooltip.scss';
@import '@oruga-ui/theme-bootstrap/dist/scss/components/_upload.scss';

.table-component {
  .table-wrapper {
    .table {
      th {
        &.is-current-sort {
          background-color: var(--bs-tertiary-bg);
        }
      }
    }
  }
}

.loading {
  &__overlay {
    background-color: rgba(var(--bs-body-bg-rgb), .5)
  }
}

