@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-RegularItalic';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url('../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'), url('../node_modules/roboto-fontface/fonts/roboto/Roboto-BoldItalic.woff') format('woff');
}
