$theme: 'dark';

@import 'common-top';

// Sass option
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Variables
@import 'variables/elevation-shadow';
@import 'variables/grid';
@import 'variables/palette';
@import 'variables-dark/palette';
@import 'variables/spacer';
@import 'variables/transition';
@import 'variables/typography';

@import 'variables/variable-bootstrap';
@import 'variables-dark/variable-bootstrap';
@import 'variables/variable-material';
@import 'variables-dark/variable-material';
@import 'variables/variable-azuracast';
@import 'variables-dark/variable-azuracast';

@import 'common-bottom';
