.material-icons {
  @include reset-material-icons;

  &.lg {
    @include reset-material-icons($material-icon-size-lg);
    vertical-align: middle;
  }

  &.sm {
    @include reset-material-icons($material-icon-size-sm);
    vertical-align: middle;
  }
}

.material-icons-inline {
  font-size: inherit;
  line-height: 1;
}
