@import 'common-top';

// Sass option

$enable-grid-classes:      true !default;
$enable-print-styles:      true !default;

// Variables

@import 'variables/elevation-shadow';
@import 'variables/grid';
@import 'variables/palette';
@import 'variables/spacer';
@import 'variables/transition';
@import 'variables/typography';

@import 'variables/variable-bootstrap';
@import 'variables-dark/variable-bootstrap';
@import 'variables/variable-material';
@import 'variables-dark/variable-material';

@import 'common-bottom';
