.btn {
  display: inline-flex;
  align-items: center;

  font-weight: 500;
  text-transform: uppercase;

  & > .material-icons {
    font-size: 1.5rem;
    margin-right: calc($btn-padding-x / 2);

    + span {
      padding-right: 0.15rem;
    }
  }

  &.btn-xl > .material-icons {
    font-size: 2.75rem;
    margin-right: calc($btn-padding-x-lg / 2);
  }

  &.btn-lg > .material-icons {
    font-size: 1.75rem;
    margin-right: calc($btn-padding-x-lg / 2);
  }

  &.btn-sm > .material-icons {
    font-size: 1rem;
    margin-right: calc($btn-padding-x-sm / 2);
  }

  &,
  &.btn-lg,
  &.btn-sm {
    .material-icons:only-child {
      margin-right: 0;
    }
  }

  &.btn-sm {
    font-size: $btn-sm-font-size;
  }

  &.btn-link {
    text-decoration: none;

    &:hover {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12));
    }
  }
}

.buttons {
  & > * {
    margin-right: .75rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.block-buttons {
  display: grid;
  gap: 0.5rem;

  .btn {
    display: block;
  }
}
