.btn {
  display: inline-flex;
  align-items: center;

  font-weight: normal;
  font-size: .875rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-transform: uppercase;

  & > .material-icons {
    font-size: 1.5rem;
    margin-right: calc($btn-padding-x / 2);
  }

  &.btn-lg > .material-icons {
    font-size: 1.75rem;
    margin-right: calc($btn-padding-x-lg / 2);
  }

  &.btn-sm > .material-icons {
    font-size: 1rem;
    margin-right: calc($btn-padding-x-sm / 2);
  }

  &,
  &.btn-lg,
  &.btn-sm {
    .material-icons:only-child {
      margin-right: 0;
    }
  }
}

.buttons {
  & > * {
    margin-right: .75rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}

.block-buttons {
  display: grid;
  gap: 0.5rem;

  .btn {
    display: block;
  }
}
