.btn > .material-icons {
  margin-right: calc($btn-padding-x / 2);
}

.btn-lg > .material-icons {
  margin-right: calc($btn-padding-x-lg / 2);
}

.btn-sm > .material-icons {
  margin-right: calc($btn-padding-x-sm / 2);
}

.buttons {
  & > * {
    margin-right: .5rem;
  }

  & > *:last-child {
    margin-right: 0;
  }
}
