@use "sass:math";

.modal-body {
  nav.nav-tabs {
    background: var(--bs-tertiary-bg);

    margin: (0-$modal-inner-padding) (0-$modal-inner-padding) 0 (0-$modal-inner-padding);
    padding: math.div($modal-inner-padding, 2) $modal-inner-padding 0 $modal-inner-padding;
  }
}
