div.datatable-toolbar-top,
div.datatable-toolbar-bottom {
  &:empty {
    display: none;
  }
}

div.datatable-main {
  table {
    tr > th:first-child,
    tr > td:first-child {
      padding-left: 1rem;
    }

    tr > th:last-child,
    tr > td:last-child {
      padding-right: 1rem;
    }

    &.table-selectable {
      tr > th:first-child,
      tr > td:first-child {
        width: 0.1%;
        white-space: nowrap;
        padding-right: 0;
      }
    }

    th.shrink,
    td.shrink {
      width: 0.1%;
      white-space: nowrap;
    }
  }
}

.table {
  thead th {
    font-size: 1.2rem;
    font-weight: normal;
  }

  tbody td {
    font-size: 1.1rem;
  }

  > :not(caption) > * > * {
    padding: 1rem 1rem;
  }
}
