# NodeJS from Nodesource
# https://github.com/nodesource/distributions/blob/master/README.md
deb https://deb.nodesource.com/node_14.x {{ ansible_distribution_release | lower }} main
deb-src https://deb.nodesource.com/node_14.x {{ ansible_distribution_release | lower }} main