body.page-minimal {
  background: $body-bg url($public-page-bg);
  background-size: cover;
  background-attachment: fixed;

  footer {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0 0 4px #000;
  }
}
