$accentColor = #2196F3
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

div.theme-container.no-sidebar {
    background: url('/img/hexbg.png') top center no-repeat;
    background-size: contain;
}