.pg_show_detail {

  .avatar {
    float: left;
    width: 150px;
    margin-right: 10px;

    border-radius: 10px;
  }

  blockquote {
    margin: 0 0 10px 0;
    border-left: 0;

    p {
      font-size: 16px;
      line-height: 17px;
    }
  }

  table.episode_list {
    p {
      margin-bottom: 0;
    }

  }

}