.song_info {
  .song_album_art {
    width: 125px;
    height: 125px;
    float: left;
    margin-right: 10px;
  }
  h1.song_title {
    padding-top: 25px;
  }
  h1.song_title,
  h2.song_artist {
    max-width: 550px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .nav.nav-pills {
    padding-top: 5px;
  }

  .scroll_overflow {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}