/* Shared Podcast/Station Styles */
.station, .podcast {

  &.media {
    margin-top: 0px;
    margin-bottom: 10px;

    padding: 10px;

    border-radius: 5px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }

  h4 {
    font-size: 16px;

    padding: 0;
    padding-bottom: 3px;

    border-color: #CCC;
  }

  h4 span{
    font-weight: normal;

    font-size: 13px;
    line-height: 13px;

    color: #999999;
  }

  img, .station-image {
    width: 60px;
    border: 0;
    border-radius: 5px;
  }

  span.block {
    display: block;
  }

  .show-when-playing {
    display: none;
  }

  .video-stream-player {
    display: none;
    margin-top: 5px;
  }

  .media-object {
    position: relative;
    text-shadow: black 0.1em 0.1em 0.2em;

    .station-play-button {
      background: none;

      i {
        position: absolute;
        bottom: 0px;
        right: 0px;
      }
    }
  }

  .media-body {
    font-size: 14px;
    line-height: 14px;
  }

  .station-info {
    div, li {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      line-height: 14px;
    }
  }
}

/* Station-specific Style */
.station {
  &.live,
  &.live h4 span {
    color: #2C7FD2;
  }

  &.playing {
    overflow: initial;
    background: rgba(19, 56, 93, 0.95); /* #13385E; */
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);

    border-radius: 5px;

    cursor: default;

    transition: background 1s ease;

    &.rendermode-embed {
      background: none;
      box-shadow: none;

      & > .btn-toolbar {
        display: none;
      }
    }

    .show-when-playing {
      display: block;
    }

    & > .btn-toolbar {
      margin-top: 0;
    }

    &, h4 span {
      color: #EFEFEF;
    }
    h4 {
      font-size: 18px;
      line-height: 16px;
      padding-bottom: 0;
    }
    h4 span {
      font-size: 14px;
      color: #CCC;
    }
    img {
      background: none;
      box-shadow: none;
    }

    .song-info-button {
      font-size: 18px;
      line-height: 30px;
      padding-right: 5px;
      opacity: 0.8;
    }
    .nowplaying-artist {
      font-size: 16px;
      line-height: 17px;
    }
    .nowplaying-title {
      font-size: 14px;
      line-height: 15px;
    }

    .station-history a {
      color: #AAA;
      text-decoration: none;

      &:hover {
        color: #FFF;
        text-decoration: underline;
      }
    }

    .station-player-container {
      margin-top: 5px;
    }
    .media-body {
      text-shadow: 0.1em 0.1em 0.2em #000000;
    }
    .underline-when-playing {
      cursor: pointer;

      &:hover {
        text-decoration: underline !important;
      }
    }
  }

  .offline {
    cursor: default;

    &, h4 small {
      opacity: 0.6;
    }
  }

  .chat-button {
    float: right;
    margin-top: 25px;
  }

  .song-info-button {
    float: left;
    padding: 0 3px 0 2px;
    font-size: 17px;
    line-height: 28px;
    opacity: 0.4;
  }
  .nowplaying-artist {
    font-size: 14px;
  }
  .nowplaying-title {
    font-size: 12px;
  }
  .nowplaying-onair {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
  }
  .station-history {
    margin-top: 5px;
  }
  .station-player-container {
    padding-bottom: 5px;

    a {
      color: #149BDF;
    }
  }
  .station-player .buttons {
    margin-bottom: 3px;
  }

  /* jPlayer */
  .jp-volume-bar {
    width: 40%;
    height: 16px;
    float: left;

    background: none;
    filter: '-';
    background-color: #222;
  }

  .jp-pause, .jp-play {
    float: left;
    font-size: 15px;

    padding-right: 15px;
  }

  .jp-mute, .jp-unmute {
    float: left;
    padding-right: 5px;
  }
  .jp-volume-max {
    float: left;
    padding-left: 5px;
  }

  /* Voting Functionality */
  .vote-wrapper {
    text-align: center;
    padding-top: 3px;
    line-height: 14px;

    a {
      color: #AAA;
      text-decoration: none !important;
    }
    a:focus {
      outline: none;
    }
    a.btn-active {
      color: #FFF;
    }
    a.btn-like {
      color: #9FB79D;
    }
    a.btn-like.btn-active {
      color: #45C126;
    }
    a.btn-dislike {
      color: #B79D9D;
    }
    a.btn-dislike.btn-active {
      color: #D51C1C;
    }
  }
}

/* Podcast-specific Style */
.podcast {
  min-height: 100px;

  .media-body small {
    font-size: 12px;
    line-height: 12px;
  }

  .station-info {
    ul {
      list-style: disc inside none;
      margin-left: 0px;
    }
    li {
      padding-left: 5px;
    }
    div, li {
      font-size: 14px;
    }
  }
}

/* Media Dropdown Menu */
li.media {
  .dropdown-menu {
    margin-top: 5px;
    background: rgba(9, 15, 21, 0.96);
    box-shadow: 0 0 8px #000;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;

    min-width: 175px;

    li.divider {
      background-color: rgba(255,255,255,0.1);
    }
    li a {
      padding: 4px 8px 4px 10px;
      color: #fff;
      background: none;
      border-bottom: none;
      border-radius: 4px;

      span.nowplaying-stream-listeners {
        font-weight: normal;
        margin-left: 5px;
        font-size: 12px;
        color: #999;
      }
    }
    li.active > a {
      background: rgba(255, 255, 255, 0.25) !important;
      font-weight: bold;
    }
    li > a:hover {
      background: #13385E !important;
    }

    li i {
      padding-right: 3px;

      &:before {
        color: #CCC;
      }
    }
  }

  &.rendermode-embed .dropdown-menu,
  &.rendermode-standalone .dropdown-menu{
    left: auto;
    right: 0;
  }
}

li.station {
  cursor: pointer;
}
li.station,
li.podcast {
  line-height: inherit;
  padding-bottom: 5px;
}