div.video-channels {
  margin-bottom: 10px;
}

a.video-channel {
  position: relative;
  display: block;
  border-radius: 5px;
  margin-bottom: 15px;

  background: #13385E;
  color: #FFF !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

  &.active:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:hover {
    text-decoration: none;
  }

  img.video-thumbnail {
    width: 100%;
    border-radius: 4px 4px 0 0;
  }

  .station-info {
    height: 55px;

    img {
      float: left;
      width: 40px;
      margin: 6px 6px 6px 5px;

      border-radius: 5px;
    }

    .station-name {
      padding: 10px;

      h4 {
        font-size: 16px;

        padding: 0;
        padding-bottom: 3px;

        border-color: #CCC;
      }

      h4 span{
        font-weight: normal;

        font-size: 13px;
        line-height: 13px;

        color: #999999;
      }

      span.block {
        display: block;
      }
    }

    .nowplaying-onair {
      position: absolute;
      bottom: 55px;
      left: 0;
      width: 100%;

      .nowplaying-inner {
        margin-top: 20px;
        padding: 10px;

        text-shadow: 0 0 3px #000;
      }

      @include linear-gradient($start: rgba(0, 0, 0, 0), $stop: rgba(0, 0, 0, .8), $to: 100%);
    }
  }
}