$primary: #1e88e5;

$body-bg-dark: #22252f;

$card-cap-padding-y: 1rem;

$font-family-sans-serif: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-root: 14px;

$link-decoration: none;

$header-nav-height: 5.15rem;

$navbar-light-brand-color: #FFF;
$navbar-dark-brand-color: #FFF;

$navbar-light-color: #FFF;
$navbar-dark-color: #FFF;

$navbar-light-brand-hover-color: $navbar-light-color;
$navbar-dark-brand-hover-color: $navbar-dark-color;

$list-group-item-padding-y: 0.75rem;

$dropdown-item-padding-y: .75rem;

$input-btn-padding-y: .75rem;
$input-btn-padding-x: .5rem;

$btn-font-size: 0.9rem;

$card-border-width: 0;
$card-cap-padding-y: 1.1rem;
$card-cap-padding-x: 1.1rem;

$badge-padding-x: 0.75rem;
$badge-padding-y: 0.45rem;
$badge-font-size: 0.9rem;
$badge-font-weight: normal;

$table-border-width: 0;

$enable-grid-classes: true;
