/*Top*/
.loginbar li a:hover {
	color:#3498db;
}

/*Menu*/
.navbar .nav > .active > a, 
.navbar .nav > .active > a:focus {
	background: #3498db !important;
}
.navbar .nav > .active > a:hover {	
	background: #3498db !important;		
}

/*Search*/
.navbar .nav li a.search-nav:hover {
	background:#3498db !important;
}
