/*Menu
------------------------------------*/
.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle { 
	border-bottom:solid 1px #787d80 !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	color:#787d80;
	border-bottom:solid 2px #787d80;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color:#787d80;	
	border-bottom:solid 2px #787d80;
}

.navbar .nav > .active > a:hover {	
  	color:#787d80;	
	border-bottom:solid 2px #787d80;
}

/*Arrow for menu*/
.navbar .nav > li > a .caret {
  border-top-color: #787d80!important;	
  border-bottom-color: #787d80 !important;
}

/*Dropdown Menu*/
.dropdown-menu { 
	border-top:solid 2px #787d80; 
}

.navbar .btn-navbar {
	background:#787d80;
}
.navbar .btn-navbar:hover {
	background:#2980b9;
}
.navbar .nav > li > .dropdown-menu:after {
	border-top-color: #787d80 !important;
	border-bottom-color: #787d80 !important;
}

/*Serach*/
.navbar .nav > li > a.search:hover {
	color:#787d80;
	border-bottom-color:#787d80;
}