/*Top*/
.loginbar li a:hover {
	color:#e74c3c;
}

/*Menu*/
.navbar .nav > .active > a, 
.navbar .nav > .active > a:focus {
	background: #e74c3c !important;
}
.navbar .nav > .active > a:hover {	
	background: #e74c3c !important;		
}

/*Search*/
.navbar .nav li a.search-nav:hover {
	background:#e74c3c !important;
}
