/*Menu
------------------------------------*/
.collapse.in li a:hover,
.collapse.in li a.dropdown-toggle { 
	border-bottom:solid 1px #e67e22 !important;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  	color:#e67e22;
	border-bottom:solid 2px #e67e22;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:focus {
  	color:#e67e22;	
	border-bottom:solid 2px #e67e22;
}

.navbar .nav > .active > a:hover {	
  	color:#e67e22;	
	border-bottom:solid 2px #e67e22;
}

/*Arrow for menu*/
.navbar .nav > li > a .caret {
  border-top-color: #e67e22!important;	
  border-bottom-color: #e67e22 !important;
}

/*Dropdown Menu*/
.dropdown-menu { 
	border-top:solid 2px #e67e22; 
}

.navbar .btn-navbar {
	background:#e67e22;
}
.navbar .btn-navbar:hover {
	background:#2980b9;
}
.navbar .nav > li > .dropdown-menu:after {
	border-top-color: #e67e22 !important;
	border-bottom-color: #e67e22 !important;
}

/*Serach*/
.navbar .nav > li > a.search:hover {
	color:#e67e22;
	border-bottom-color:#e67e22;
}