[www]
user = azuracast
group = www-data

listen = 127.0.0.1:9000
pm = ondemand
pm.max_children = 3
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 3
pm.max_requests = 100
pm.process_idle_timeout = 60s

chdir = /