[program:php-fpm]
command=/usr/sbin/php-fpm8.1 --nodaemonize --fpm-config /etc/php/8.1/fpm/php-fpm.conf
priority=500
numprocs=1
autostart=true
autorestart=unexpected
stopasgroup=true
killasgroup=true

[program:php-nowplaying]
command=php {{ www_base }}/bin/console azuracast:sync:nowplaying
user=azuracast
priority=600
numprocs=1
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true

[program:php-worker]
command=php {{ www_base }}/bin/console queue:process --worker-name=app_worker_0
user=azuracast
priority=600
numprocs=1
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
