@use "sass:math";

@mixin reset-material-icons($size: $material-icon-size) {
  font-size: $size;
  line-height: 1;
}

@mixin set-material-icons {
  @include reset-material-icons;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@mixin setup-material-icons-bg($size: $material-icon-size) {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  height: $size;
  width: $size;
  background-size: cover;
}

@mixin material-icons-bg($icon) {
  background-image: $icon;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  &.outlined {
    font-family: 'Material Icons Outlined';
  }
}

.material-icons {
  @include reset-material-icons;

  &.lg {
    @include reset-material-icons($material-icon-size-lg);
  }

  &.xl {
    @include reset-material-icons($material-icon-size-xl);
  }

  &.sm {
    @include reset-material-icons($material-icon-size-sm);
  }

  &.inline {
    line-height: 1 !important;
  }

  .btn > & {
    margin-right: calc($btn-padding-x / 2);
  }

  .btn-lg > & {
    margin-right: calc($btn-padding-x-lg / 2);
  }

  .btn-sm > & {
    margin-right: calc($btn-padding-x-sm / 2);
  }
}

.material-icons-inline {
  font-size: inherit;
  line-height: 1;
}
