.navdrawer {
  outline: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  top: $header-nav-height;
  right: auto;
  width: $navdrawer-width;
  z-index: 100;

  background: var(--bs-tertiary-bg);

  display: none;

  &.show {
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  body.has-sidebar #main {
    margin-left: $navdrawer-width;
  }

  .navdrawer {
    display: block;
  }
}

// Content
.navdrawer-content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  @include media-breakpoint-up(lg) {
    & {
      max-width: none;
      position: absolute;
      transform: translate3d(0, 0, 0);
      width: 100%;
    }
  }

  .navdrawer.show & {
    transform: translate3d(0, 0, 0);
  }
}

// Misc
.navdrawer-body {
  margin-bottom: $navdrawer-inner-spacer-y;
  padding-right: $navdrawer-inner-spacer-x;
  padding-left: $navdrawer-inner-spacer-x;
}

.navdrawer-header {
  display: block;
  margin-bottom: $navdrawer-inner-spacer-y;
  padding: $navdrawer-inner-spacer-y $navdrawer-inner-spacer-x;

  background-color: var(--bs-secondary-bg);

  .navbar-brand {
    font-size: 1.25rem;
  }
}

.navdrawer-subheader {
  @include text-truncate;

  display: block;
  height: $navdrawer-subheader-height;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: ($navdrawer-subheader-height * 0.5) $navdrawer-inner-spacer-x;

  color: var(--bs-secondary-color);

  .navdrawer-divider + & {
    margin-top: ($navdrawer-inner-spacer-y * -1);
  }
}

// Nav
.navdrawer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: $navdrawer-inner-spacer-y;
  margin-bottom: $navdrawer-inner-spacer-y;
  padding-left: 0;

  .navdrawer-header + &,
  .navdrawer-subheader + & {
    margin-top: 0;
  }

  .nav-link {
    @include text-truncate;

    display: inline-flex;
    align-items: center;
    width: 100%;

    font-size: 1rem;
    font-weight: 500;

    line-height: 1;
    padding: .75rem 1rem;

    color: var(--bs-body-color);

    & > .navdrawer-nav-icon {
      font-size: 1.5rem;
      margin-right: .75rem;
    }

    &:focus {
      outline: 0;
    }

    &.active,
    &:active {
      color: var(--bs-primary);
    }

    &:hover {
      background-color: var(--bs-secondary-bg);
    }

    &.disabled {
      background-color: transparent;
      color: var(--bs-nav-link-disabled-color);
    }
  }
}
