$material-icon-size: 1.5rem;
$material-icon-size-xl: ($material-icon-size * 2.3);
$material-icon-size-lg: ($material-icon-size * 1.7);
$material-icon-size-sm: ($material-icon-size * 0.6);

$navdrawer-width: 17.5rem;
$navdrawer-gutter-width: 3.5rem;
$navdrawer-inner-spacer-x: 1rem;
$navdrawer-inner-spacer-y: 0.5rem;
$navdrawer-icon-width: 2rem;
$navdrawer-link-height: 3rem;
$navdrawer-subheader-height: 3rem;
