/* Login and 404 Pages */
.login-content,
.four-zero,
.public-page-content {
  min-height: inherit;
  background: @body-bg url('../img/hexbg.png') center center;
  background-size: cover;
}

/* Header */
#header {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 500px 100px;

  .logo a {
    margin: -5px 0 8px 0;
    display: block;
  }
}

/* Sidebar */
.main-menu {
  margin: 20px 0 0 0;

  & > li {
    &.menu-alert > a {
      background: @alert-warning-bg;
      color: @alert-warning-text;

      &:hover {
        background: darken(@alert-warning-bg, 5%);
      }
    }

    &.menu-header > a {
      padding: 14px 20px 14px 20px;
      color: @headings-color;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

/* Nav ULs */
.nav>li>a:hover, .nav>li>a:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Forms */
legend {
  color: @headings-color;
  border-bottom: 0;
}

/* Footer */
#footer {
  padding-top: 20px;
  padding-bottom: 15px;
  height: 75px;

  &.footer-alt {
    @media (min-width: (@screen-lg-min + 80)) {
      padding-left: 0;
    }
  }
}