#radio-player-controls {
  display: none;

  &.jp-state-playing {
    display: inline-block;
  }

  .progress {
    height: 25px;
  }
}

#radio-player {
  display: none;
}

.btn-audio {
  i:before {
    font-size: 35px;
    vertical-align: middle;
  }
}