[http_api]
insecure = true

[client]
allowed_origins = ["*"]
allow_anonymous_connect_without_token = true
connect_include_server_time = true

[admin]
enabled = true
insecure = true

[uni_websocket]
enabled = true

[uni_sse]
enabled = true

[uni_http_stream]
enabled = true

[http_server]
port = 6_020
internal_port = 6_025

[websocket]
disabled = true

{{ if isTrue .Env.ENABLE_REDIS  }}
[engine]
redis.address = "{{ .Env.REDIS_HOST }}:{{ default .Env.REDIS_PORT "6379" }}"
redis.db = {{ default .Env.REDIS_DB 0 }}
redis.prefix = "centrifugo:c"
type = "redis"
{{ end }}

[[channel.namespaces]]
name = "station"
history_size = 1
history_ttl = "30s"
allow_subscribe_for_client = true
allow_subscribe_for_anonymous = true
allow_history_for_client = true
allow_history_for_anonymous = true
force_recovery = true
force_recovery_mode = "cache"
