{
  "common": {
    "idle_timeout": 15,
    "upload_mode": 2,
    "setstat_mode": 1,
    "actions": {
      "execute_on": [
        "upload",
        "pre-delete",
        "rename"
      ],
      "hook": "http://127.0.0.1:6010/api/internal/sftp-event"
    },
    "defender": {
      "enabled": true,
      "driver": "memory"
    }
  },
  "sftpd": {
    "bindings": [
      {
        "port": 2022,
        "address": "",
        "apply_proxy_config": true
      }
    ],
    "enable_scp": true
  },
  "httpd": {
    "bindings": [
      {
        "port": 0
      }
    ],
    "templates_path": "/usr/share/sftpgo/templates",
    "static_files_path": "/usr/share/sftpgo/static"
  },
  "telemetry": {
    "bind_port": 0
  },
  "data_provider": {
    "driver": "bolt",
    "name": "/etc/sftpgo/sftpgo.db",
    "users_base_dir": "{{ app_base }}/stations",
    "external_auth_hook": "http://127.0.0.1:6010/api/internal/sftp-auth",
    "external_auth_scope": 0,
    "auto_backup": {
      "enabled": false
    }
  }
}
