@include custom-scrollbar(#555);

html {
  background: #FFF;
}

html.embedded,
html.embedded body {
  background: none !important;
  background-color: transparent !important;
}

html.embedded div#body {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

body, p, input, button, select, textarea, th, td,
.table th, .table td {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

body {
  font-size: 13px;
}

body,
dt, dd,
.table th,
.table td
{
  font-size: 13px;
  line-height: 17px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background: none;
  background-color: transparent;
}

h1.title,
h2.title {
  padding: 0 0 20px 0;
}
h1 {
  font-size: 45px;
  font-weight: normal;
}
h4 small {
  font-size: 13px;
}
dl dt {
  font-size: 14px;
  line-height: 16px;
}
small {
  font-size: 12px;
  line-height: 12px;
}

form span.help-block,
form span.help-inline {
  display: block;
  font-size: 11px;
  line-height: 13px;
  max-width: 800px;
  color: #666;
  margin-top: -5px;
  margin-bottom: 10px;
}

.form-actions {
  border: 0;
  background: transparent;
}

.form-actions {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hidden-by-default {
  display: none;
}

/** Bootstrap 1.0 Compatibility **/
form div.control-group {
  margin: 15px 0;
}
form legend {
  margin: 0;
}
form legend + div.control-group {
  margin-top: 0px;
}
form fieldset {
  margin-bottom: 0px;
}
form div.clearfix label {
  font-weight: bold;
}

ul.inputs-list,
ul.inputs-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.inputs-list input[type="radio"],
.inputs-list input[type="checkbox"] {
  vertical-align: top;
}
form ul.inputs-list label {
  font-weight: normal;
  margin: 0;
}
ul.inputs-list label input {
  display: inline;
}
ul.inputs-list.inline li,
ul.inputs-list.inline label {
  display: inline;
}
ul.inputs-list.inline label {
  padding-right: 10px;
}

ul.nav.nav-tabs {
  padding-left: 10px;
  border-bottom: 1px solid #DDD;
}
ul.nav.nav-tabs > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}
div.tabbable div.tab-pane {
  padding-top: 10px;
}

div.well {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
}

div.well.no-margin {
  margin-bottom: 0;
}
div.well > p:last-child {
  margin-bottom: 0;
}

/** Elements **/
small {
  font-size: smaller;
}
big {
  font-size: larger;
}

select {
  width: auto;
}
.input-code {
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  font-size: 12px;
}

input.full-width,
textarea.full-width {
  width: 80%;
}
input.half-width,
textarea.half-width {
  width: 45%;
}
textarea.full-height {
  height: 100px;
}
textarea.half-height {
  height: 60px;
}
textarea.double-height {
  height: 150px;
}

input.big {
  font-size: 16px;
  padding: 3px;
}
form {
  margin-bottom: 0;
}

hr {
  margin: 10px 0 9px;
}

h2 {
  font-size: 28px;
  font-weight: normal;
}

h3, fieldset legend {
  font-size: 19px;
  font-weight: normal;
}

fieldset legend, h2, h3, h4, h5, h6 {
  padding: 3px 0 8px 0;
  line-height: 1;
}

table tr td.center,
table tr th.center {
  text-align: center;
}

table tr td.right,
table tr th.right {
  text-align: right;
}

table tr.input td,
table tr.input th {
  vertical-align: middle;
}

table.table-nopadding {
  margin-bottom: 0;
}

span.text-disabled {
  opacity: 0.5;
}

/** Buttons **/

.btn .icon
{
  margin-top: 1px;
  margin-left: -3px;
  margin-right: 6px;
}
.btn.btn-icon-only .icon {
  margin-right: -3px;
}

.btn.small
{
  padding: 5px 9px 5px;
}

.btn.small .icon
{
  margin-top: 0px;
  margin-bottom: -6px;
  margin-left: -3px;
  margin-right: 6px;
}
.btn.small.btn-icon-only .icon {
  margin-right: -3px;
}

div.well.buttons
{
  padding: 10px;
}

div.buttons
{
  margin-top: 5px;
  margin-bottom: 10px;
}
table tr td div.buttons
{
  margin-bottom: 0;
}

.progress {
  margin-bottom: 0;
}

/** Tables **/

div.odd,
.table tbody tr.odd td {
  background-color: #f9f9f9;
}

div.even,
.table tbody tr.even td {
  background-color: #ffffff;
}

div.red,
.table tbody tr.red td,
.table tbody tr td.red,
.table tbody tr.red:hover td,
.table tbody tr:hover td.red {
  background-color: #fddfde;
  color: #8C0C09;
}

div.green,
.table tbody tr.green td,
.table tbody tr td.green,
.table tbody tr.green:hover td,
.table tbody tr:hover td.green {
  background-color: #d1eed1;
  color: #256525;
}

div.yellow,
.table tbody tr.yellow td,
.table tbody tr td.yellow,
.table tbody tr.yellow:hover td,
.table tbody tr:hover td.yellow {
  background-color: #FCF8E3;
  color: #A68F11;
}

div.blue,
.table tbody tr.blue td,
.table tbody tr td.blue,
.table tbody tr.blue:hover td,
.table tbody tr:hover td.blue {
  background-color: #ddf4fb;
  color: #11728E;
}

.table tbody tr:hover td {
  background-color: #f5f5f5;
}

.table tr.input td {
  vertical-align: middle;
}

.table tbody tr.disabled td,
.table tbody tr td.disabled {
  background-color: #EEE;
  color: #999;
}


/** Misc **/
.pagination a:hover,
.pagination .active a {
  background-color: #EFEFEF;
}
.pagination .active a {
  font-weight: bold;
}

.twipsy {
  text-align: left;
}

.floatright {
  float: right;
}

div.clear {
  clear: both;
  height: 1px;
  margin-top: -1px;
}

.nav.nav-list {
  background: none;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: 0;
  margin-right: 0;
}
.nav-list li {
  line-height: 13px;
}
.nav-list > li > span {
  display: block;
}
.nav-list > li > a,
.nav-list > li > span {
  padding: 4px 0px;
}
.nav-header {
  padding: 2px 0;
  font-size: 12px;
}

.nav-list li.active {
  margin-left: -5px;
  margin-right: -5px;
}
.nav-list li.active > a,
.nav-list li.active > span {
  padding-left: 5px;

  border-radius: 3px;
}

.floatbox {
  float: left;
  margin: 5px 3px 5px 0;

  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.15);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  padding: 5px 8px;

  text-decoration: none;
}

div.floating {
  padding: 15px;
  margin: 3px;
  margin-bottom: 23px;

  background: #FFF;
  border: 1px solid #D5D5D5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  box-shadow: 0 0 0 3px #F2F2F2;
  -webkit-box-shadow: 0 0 0 3px #F2F2F2;
  -moz-box-shadow: 0 0 0 3px #F2F2F2;
}

/**
 * Media Query Defaults
 */

.wide-block {
  display: block;
}
.wide-inline {
  display: inline;
}
.narrow-block,
.mobile-block,
.narrow-inline,
.mobile-inline {
  display: none;
}

.navbar .brand {
  display: none;
}

.row-multiple .start-of-row {
  margin-left: 0;
}

/**
 * Google Maps Compatibility
 */

table td > img:only-child {
  display: block;
  width: 100%;
}

.gmap img,
#mapSmallContainer img,
img.icon,
img.avatar {
  max-width: none;
}

/**
 * Main Body
 */

div.content-top-alert {
  font-size: 14px;
}

div#content_top {
  margin-top: -18px;
  padding: 10px 20px 5px 20px;
}

div#page_wrapper {
  margin-top: 10px;
}

div#breadcrumb {
  font-size: 13px;
  line-height: 14px;
  padding: 0 20px 0px 0px;
}

.carousel-caption {
  position: static;
  height: 70px;
  overflow: hidden;

  h4 {
    margin: 0;
    padding: 0;
  }
  a:hover {
    text-decoration: none;
  }
}

div.floating {
  background: transparent;
  filter: '-';
  -ms-filter: '-';
  border: 0;
  margin: 0;
  padding: 0;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

div#footer-nav,
div#copyright {
  color: #777;
  font-size: 12px;
  line-height: 13px;

  text-align: center;

  padding-top: 10px;
}

div#footer-nav {
  font-size: 13px;
  line-height: 14px;

  padding-top: 15px;
}

/**
 * Special Site Areas
 */

div.announcement {
  padding: 0px;

  h3 {
    padding-top: 5px;
    line-height: 25px;

    span {
      vertical-align: top;
    }
  }
}

div#content_tabs {
  padding: 0 15px 0 30px;
  margin-top: -10px;

  ul {
    margin-bottom: 0;
    border-bottom: 0;
  }
  ul.nav-pills {
    margin-bottom: 15px;
  }
  ul li.pull-right {
    float: right;
  }

  .tabs > li > a {
    border-bottom: 0;
    z-index: 10000;
  }
}

.gallery {
  display: inline-block;
  padding: 5px 3px;
}

.media,
.media .media {
  margin-top: 10px;
}

div.artist {
  cursor: pointer;
  float: left;
  width: 50%;
  padding-top: 10px;

  table {
    width: 100%;
    height: 100px;
  }
}

.large-icon {
  font-size: 25px;
  line-height: 25px;
}

ul.nopadding {
  margin: 0;

  li {
    h1, h2, h3, h4, h5, h6 {
      padding-bottom: 3px;
    }
  }
}

ul.nav.social-nav li {
  padding: 0;

  a {
    padding: 4px 0 2px 3px;
  }
}

.max-width-only {
  display: none;
}

#maintenance_header {
  text-align: center;
  padding: 10px 15px;
}
html.embedded #maintenance_header {
  display: none;
}

/**
 * Responsive
 */

@media (min-width: 1200px) {
  #about_pvl {
    padding-top: 40px;
  }
  .max-width-only {
    display: inline;
  }

  body #content > .row {
    margin-left: -10px;
  }
  div.floating, div.floating-wrapper {
    margin-bottom: 30px;
  }
}

@media (min-width: 980px) and (max-width: 1200px) {
  .navbar ul.nav > li > a > i {
    display: none;
  }

  .top ul.loginbar > li > a > i {
    display: none;
  }
  .top ul.loginbar li.divider {
    margin: 0 2px 0 0;
  }
}

@media (max-width: 980px) {
  div#body {
    margin-top: 0;
  }

  .narrow-block,
  .mobile-block {
    display: block;
  }
  .narrow-inline,
  .mobile-inline {
    display: inline;
  }
  .wide-block,
  .wide-inline {
    display: none;
  }
}

@media (max-width: 767px) {
  html.full_layout {
    background-image: none;
  }

  body {
    background: #FFF;
    padding-left: 0;
    padding-right: 0;
  }
  body div#body {
    background: none;
    border-radius: 0;
    margin-bottom: 0;
  }

  h1.title {
    padding-left: 20px;
  }

  #content > .row {
    margin-left: 0px;
  }

  .container {
    width: auto;
  }

  div.floating {
    border: 0;
    padding: 0;
    background: none;

    margin-left: 20px;
    margin-right: 20px;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  html.embedded div.floating {
    margin-left: 0;
    margin-right: 0;
  }

  #content_tabs {
    margin-left: 0;
    margin-right: 0;
  }
  #copyright {
    padding: 0 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container, .navbar .container {
    width: 764px;
  }
  #content > .row {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .media .pull-left {
    float: left;
  }
  .media .pull-right {
    float: right;
  }
}

/*
 * Color Customization
 */

body {
  background: transparent;
  color: $clr_text;
}

h1, h2 {
  color: $clr_primary;
  text-shadow: 1px 1px 1px $clr_white;
}

a {
  color: $clr_primary;
}
a:hover {
  color: $clr_primary_light;
}
hr {
  border-top: 1px solid $clr_neutral_dark;
  border-bottom: 1px solid $clr_neutral_xlight;
}
code {
  color: $clr_neutral_xlight;
  background: $clr_primary_xdark;
  border: 1px solid $clr_primary_dark;
}

fieldset legend {
  color: $clr_neutral_xdark;
  border: 0;
}

form span.help-block,
form span.help-inline {
  font-size: 12px;
  color: #777;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: $clr_neutral_xlight;
  background-color: rgba(0, 0, 0, 0.1);
}
.table tbody tr:hover td {
  background-color: $clr_neutral_xxlight;
  background-color: rgba(0, 0, 0, 0.2);
}
.table th, .table td {
  border-top: 0;
}

/**
 * Main Body
 */

div#body {
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  border: 0;
}

div#copyright {
  color: #777;
}

.well {
  padding: 10px;
}

#page_wrapper {
  margin: 0 10px;
}