$clr_primary_light: #5699DC;
$clr_primary: #2C7FD2;
$clr_primary_dark: #15416C;
$clr_primary_xdark: #0E2B47;

$clr_white: #FFFFFF;
$clr_black: #000000;

$clr_neutral_light: #CCCCCC;
$clr_neutral_xlight: #DDDDDD;
$clr_neutral_xxlight: #EEEEEE;

$clr_neutral_dark: #666666;
$clr_neutral_xdark: #444444;
$clr_neutral_xxdark: #222222;