/*Footer*/
.footer {
  margin-top:40px;
  padding:20px 10px;
  background: #375B88;
  color: #dadada;
  border-top: 2px solid #4878B3;

  .container .footer-inner {
    padding: 0 15px;
  }

  h1, h2, h3, h4, h5 {
    text-shadow:none;
    font-weight:normal !important;
  }

  p, a {
    font-size:14px;
  }
  p {
    color:#dadada;
  }

  a {
    color: #72c02c;
  }
  a:hover {
    color: #a8f85f;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  }

  h3, h4 {
    color:#e4e4e4;
    background:none;
    text-shadow:none;
  }

  .media-object {
    padding: 4px;

    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5);
    background: #13385E;

    border-radius: 5px;
    border: 0;
  }

  .dl-horizontal a:hover {
    color: #3498db !important;
  }

  /* Blog Posts */
  .posts {
    padding:0 15px;
  }

  .blog-list {
    margin:0;
    padding:0;
    color:#dadada;
    list-style:none;

    li {
      padding:0 0;
      margin-bottom:7px;
    }
    li span {
      color:#818488;
    }
  }

  .dl-horizontal,
  .dl-horizontal:hover {
    border:none !important;
    background:none !important;
  }
  .dl-horizontal a {
    color:#dadada;
  }
  .dl-horizontal a:hover {
  }
  .dl-horizontal img {
    border-color:#888 !important;
  }
}

.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover {
  color: #EEE;
}

/*Copyright*/
.copyright {
  padding: 15px 10px 15px 25px;
  background: #263F5E;
  border-top: solid 1px #4878B3;

  p {
    font-size: 12px;
    line-height: 12px;

    color:#dadada;
    margin: 0;
    padding: 0;
  }
  a:hover {
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
  }
}