/* Bootstrapping */
@import 'mixins';

/* Site Design */
@import 'header';
@import 'footer';

/* Main Site Body */
@import 'body';

#content {

  .post {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
    margin-bottom: 10px;

    img, embed {
      background: #EEE;
      padding: 9px;
      border: 1px solid #EFEFEF;
      border-radius: 4px;

      max-width: 100%;
    }

    &.photoset > p {
      clear: right;
      float: right;
      max-width: 40%;

      padding-left: 5px;
    }

    &.photo p:first-child img,
    p:first-child img {
      max-width: 100%;
    }

    p.meta {
      float: none;
      max-width: 100%;
      font-size: 12px;
    }
  }

  .caption p:first-child > strong,
  .caption p:first-child > b {
    font-size: 28px;
    font-weight: normal;

    color: #2C7FD2;
    text-shadow: 1px 1px 1px #FFF;

    padding: 3px 0 8px 0;
    line-height: 1;
  }

  p, blockquote, li {
    font-size: 14px;
    line-height: 16px;
  }

  blockquote p {
    margin: inherit;
  }

  div#notes {
    clear: both;

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      padding: 5px;
      font-size: 12px;
      line-height: 12px;

      a.avatar_frame {
        padding-right: 5px;
      }
    }
  }
}