body {
    padding-bottom: 0px;
	background-color:#E4E6E9;
	
	font-family: 'Source Sans Pro';
	font-size:14px;
	line-height: 14px;
	color:#393939;
	
	min-height:100%;
}

/* Header */

.skin-1 .navbar-inverse .navbar-inner {
	background: #2c6aa0 url('../mlpma/topright.png') right center no-repeat;
}

.navbar-inverse .brand {
	padding-left: 15px;
}

.navbar-inverse .brand,
.navbar-inverse .ace-nav > li > a {
	text-shadow: 1px 1px 1px black;
}

.navbar-inverse .ace-nav > li {
	background: transparent;
	border: none;
}

#nav-search-input {
	width: inherit;
}

#sidebar-shortcuts {
	max-height: inherit;
}

#sidebar-shortcuts #nowplaying {
	font-size: 13px;
	line-height: 14px;
	padding: 8px 2px 5px 2px;

	color: #FFF;
}

#footer {
	padding-top: 20px;
}

table tr.input td {
	vertical-align: middle;
}