DirectoryIndex index.php

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
   php_value magic_quotes_gpc       0
   php_value magic_quotes_runtime   0
   php_value register_globals       0
   php_value session.auto_start     0
   php_value short_open_tag         1
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

  # Forward all requests that are not existing files to index.php
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule (.*) index.php [L,QSA]
</IfModule>
